@{
    ViewData["Title"] = "Certificate - Certificate Entry";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}
@section Header{
<link href="~/vendor/sweetalert/sweet-alert.css" rel="stylesheet" />
<style>
    th {
        width: none !important;
    }

    .btn-success {
        color: #fff;
        background-color: #66bb6a;
        border-color: #66bb6a;
        -webkit-box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2) !important;
        box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2) !important;
        border-radius: 1.25rem !important;
    }
    
</style>
}

<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Default Basic Forms Start -->
            <div class="card mb-4">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Certificate Entry</h6>
                </div>

                <hr class="my-1">

                <div class="card-body">
                    <div class="pd-20 card-box mb-30">
                        <div class="row col-12 p-4 justify-content-center ">
                            <div class="col-xl-3 col-md-3 col-sm-4 col-6 ">
                                <input type="button" class="btn btn-success mr-2 mt-1 col-12 " id="AddButton" value="Add" data-bind="click: chooseOptions.bind($data,'A')">
                            </div>
                            <div class="col-xl-3 col-md-3 col-sm-4 col-6 ">
                                <input type="button" class="btn btn-success mr-2 mt-1 col-12 " id="UpdateButton" value="Edit" data-bind="click: chooseOptions.bind($data,'U')">
                            </div>
                            <div class="col-xl-3 col-md-3 col-sm-4 col-6 ">
                                <input type="button" class="btn btn-success mr-2 mt-1 col-12 " id="DeleteButton" value="Delete" data-bind="click: chooseOptions.bind($data,'D')">
                            </div>
                            @*<div class="col-xl-3 col-md-3 col-sm-4 col-6 ">
                                <button type="button" class="btn btn-success mr-2 mt-1 col-12 " id="SearchButton" data-toggle="modal" data-target="#searchQueryModalTheme">Search</button>
                            </div>*@
                        </div>
                        <div class="row">

                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-sm-12 col-md-10 col-form-label">Company <span class="mandatory"> *</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Shholder No: <span class="mandatory">*</span></label>
                                <div class="col-sm-9 col-md-12">
                                    <input class="form-control form-control-sm" disabled onkeypress="return isNumberKey(event)" type="text" placeholder="Enter Share Holder Number" id="ShHolderNo" data-bind="value:ShholderNo,valueUpdate: 'input',executeOnEnter:GetSholderInformation.bind($data,ShholderNo), event:{blur:GetSholderInformation.bind($data,ShholderNo)}" />
                                </div>
                               
                            </div>
                             <div class="col-xl-3 col-md-3 col-sm-4 col-6 mt-4">
                                <button type="button" class="btn btn-success mr-2 mt-1 col-9" disabled id="SearchButton" data-toggle="modal" data-target="#searchQueryModalTheme">Search</button>
                            </div>
                        </div>
                        <hr clss="my-4">
                        <div class="row">
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Name</label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" id="Name" data-bind="value:Name" type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Father's Name</label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" id="FaName" type="text" data-bind="value:FaName" disabled>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Grand Father's Name</label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" id="GrFaName" data-bind="value:GrFaName" type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Address</label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" id="Address" type="text" data-bind="value:Address" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Telephone No </label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" id="TelNo" data-bind="value:TelNo" type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Occupation </label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" id="Occupation" type="text" data-bind="value:Occupation" disabled>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Minor</label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" id="Minor" data-bind="value:Minor" type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Total Kitta </label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" id="TotalKitta" type="text" data-bind="value:TotalKitta" disabled>
                                </div>
                            </div>
                        </div>
                        <hr clss="my-4">
                        <div class="row">
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Certificate No: <span class="mandatory">*</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" disabled onkeypress="return isNumberKey(event)" type="text" placeholder="Enter Certificate Number" id="CertificateNo" data-bind="value:CertificateNo" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="shareType">
                                    Share Type <span class="mandatory">*</span>
                                </label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="shareType"
                                            data-bind='options:ShareTypeList, optionsText:"ShareTypeNameAndValue",
                                                optionsValue: "ShareTypeValue", value: SelectedShareType,
                                                optionsCaption:"---Share Type---"' disabled>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Share Kitta <span class="mandatory">*</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" id="ShareKitta" placeholder= "Enter Share Kitta" type="text" data-bind="value:ShareKitta" disabled>
                                </div>
                            </div>
                             <div class="form-group row col-xl-3 col-md-3 col-sm-12 col-12" id="simple-date1">
                                <label class="col-12 col-form-label" for="DailyReportDate">Certificate Issued Date <span class="mandatory"> *</span></label>
                                <div class="input-group date col-sm-12 col-md-12">
                                    <div class="input-group-prepend">

                                    </div>
                                    <input type="text" data-bind="value: CertificateIssuedDate" class="form-control form-control-sm" placeholder="Select a Date" id="CertificateIssuedDate">
                                </div>
                            </div>
                           @* <div class="form-group row col-xl-3 col-md-3 col-sm-12 col-12 " id="simple-date1">
                                <label class="col-12 col-form-label" for="CertificateIssuedDate">Certificate Issued Date <span class="mandatory">*</span></label>
                                <div class="input-group date col-sm-12 col-md-10">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" class="form-control form-control-sm" placeholder="Select a Date" disabled data-bind="value: CertificateIssuedDate, text:CertificateIssuedDate" id="CertificateIssuedDate">
                                </div>
                            </div>*@
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="CertificateStatusSelect">
                                    Certificate Type <span class="mandatory">*</span>
                                </label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="CertificateStatusSelect"
                                            data-bind='options:CertificateTypeList, optionsText:"CertificateTypeNameAndValue",
                                                optionsValue: "CertificateTypeValue", value: SelectedCertificateType,
                                                optionsCaption:"---Certificate Type---"' disabled>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Starting Serial No <span class="mandatory">*</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" id="StartSerialNo" type="text" placeholder= "Enter Start Serial No"  data-bind="value:StartSerialNo" disabled>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Ending Serial No <span class="mandatory">*</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" id="EndSerialNo" type="text" placeholder= "Enter End Serial No"  data-bind="value:EndSerialNo" disabled>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="ShOwnerType">
                                    ShOwner Type <span class="mandatory">*</span>
                                </label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="ShOwnerType"
                                            data-bind='options:ShOwnerTypeList, optionsText:"ShOwnerTypeAndName",
                                                optionsValue: "ShOwnerTypeValue", value: SelectedShOwnerType,
                                                optionsCaption:"---ShOwner Type---"' disabled>
                                    </select>
                                </div>
                            </div>
                        </div>
                         <div class="row col-12 p-4 justify-content-center ">
                            <div class="col-xl-3 col-md-3 col-sm-4 col-6 ">
                                <button type="button" class="btn btn-success mr-2 mt-1 col-12 " id="SaveButton" value="Save" data-bind="click: Save">Save</button>
                            </div>
                            <div class="col-xl-3 col-md-3 col-sm-4 col-6 ">
                                <button type="button" class="btn btn-success mr-2 mt-1 col-12 " id="ClearButton" value="Clear" data-bind="click: ClearControl">Clear</button>
                            </div>
                        </div>
                    </div>
                    <!-- Search Modal -->
                    <div class="modal fade" id="searchQueryModalTheme" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="col-12">
                                        <div class="card col-12">
                                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">Search Certificate</h6>
                                            </div>
                                            <hr class="my-1">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-6">
                                                        <div class="col-sm-12 col-md-12">
                                                            <input class="form-control form-control-sm" type="text" placeholder="ShHolderNo From" data-bind="value: ShHolderNoFrom">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <div class="col-sm-12 col-md-12">
                                                            <input class="form-control form-control-sm" type="text" placeholder="ShHolderNo To" data-bind="value: ShHolderNoTo">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <div class="col-sm-12 col-md-12">
                                                            <input class="form-control form-control-sm" type="text" placeholder="CertificateNo From" data-bind="value: CertificateNoFrom">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <div class="col-sm-12 col-md-12">
                                                            <input class="form-control form-control-sm" type="text" placeholder="CertificateNo To" data-bind="value: CertificateNoTo">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <div class="col-sm-12 col-md-12">
                                                            <input class="form-control form-control-sm" type="text" placeholder="SerialNo From" data-bind="value: SerialNoFrom">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <div class="col-sm-12 col-md-12">
                                                            <input class="form-control form-control-sm" type="text" placeholder="SerialNo To" data-bind="value: SerialNoTo">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <div class="col-sm-12 col-md-12">
                                                            <input class="form-control form-control-sm" type="text" placeholder="ShareKitta From" data-bind="value: ShareKittaFrom">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <div class="col-sm-12 col-md-12">
                                                            <input class="form-control form-control-sm" type="text" placeholder="ShareKitta To" data-bind="value: ShareKittaTo">
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-bind="click : SearchCertificate">Search Holder</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Scrollable -->
                    <div class="modal fade" id="CertificateSearchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">ShHolder Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-12">
                                        <div class="card mb-4">
                                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            </div>
                                            <div class="table-responsive p-3">
                                                <div class="table-responsive p-3">

                                                    <table id="CertDetTable" class="table  table-bordered" style="">
                                                        <thead>
                                                            <tr>
                                                                <th>ShHolderNo</th>
                                                                <th>CertNo</th>
                                                                <th>SrNoFrom</th>
                                                                <th>SrNoTo</th>
                                                                <th>CertStatus</th>
                                                                <th>TimesOfSplit</th>
                                                                <th>ShKitta</th>
                                                                <th>ShOwnerType</th>
                                                                <th>ShareType</th>
                                                                <th>IssueDate</th>
                                                                <th>DistCert</th>
                                                                <th>TranDt</th>
                                                                <th>DupliNo</th>
                                                                <th>PaidAmount</th>
                                                                <th>TotalAmount</th>
                                                                <th>UserName</th>
                                                                <th>EntryDate</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody data-bind="foreach : CertificateSearchList">
                                                            <tr data-bind="click: FillCertificateInformation">
                                                                <td data-bind="text: ShHolderNo"></td>
                                                                <td data-bind="text: CertNo"></td>
                                                                <td data-bind="text: SrNoFrom"></td>
                                                                <td data-bind="text: SrNoTo"></td>
                                                                <td data-bind="text: CertStatusName"></td>
                                                                <td data-bind="text: TimesOfSplit"></td>
                                                                <td data-bind="text: ShKitta"></td>
                                                                <td data-bind="text: ShOwnerTypeName"></td>
                                                                <td data-bind="text: ShareTypeName"></td>
                                                                <td data-bind="text: IssueDate"></td>
                                                                <td data-bind="text: DistCert"></td>
                                                                <td data-bind="text: TranDt"></td>
                                                                <td data-bind="text: DupliNo"></td>
                                                                <td data-bind="text: PaidAmount"></td>
                                                                <td data-bind="text: TotalAmount"></td>
                                                                <td data-bind="text: UserName"></td>
                                                                <td data-bind="text: EntryDate"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Footer{
<script src="~/scripts/Certificate/CertificateEntry.js"></script>
}
