@{
    ViewData["Title"] = "Issue Dividend Entry";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">

                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Cash Dividend</li>
                                <li class="breadcrumb-item active" aria-current="page">Issue Dividend Entry</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Issue Dividend Entry</h6>
                </div>

                <!-- Signature Modal Theme -->
                <div class="modal fade" id="signatureModalTheme" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">ShareHolder Signature</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body row justify-content-center">
                                <img class="border border-secondary" data-bind="attr: { src: self.Signature() }" height="300px" width="400px">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box mb-30">

                        <form>
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <input type="button" id="AddButton" class="btn btn-success mr-2 mt-1 col-12 " value="Issue Dividend Warrant" data-bind="click: chooseOptions.bind($data,'A')">
                                </div>
                                <div class="col-3">
                                    <input type="button" id="DeleteButton" class="btn btn-danger mr-2 mt-1 col-12 " value="Undo Dividend Warrant" data-bind="click: chooseOptions.bind($data,'D')">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group row col-md-3 col-sm-12">
                                    <label class="col-sm-12 col-md-12 col-form-label" for="companySelect2">Company <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12">
                                        <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                        </select>
                                    </div>
                                </div>
                                <fieldset class="form-group col-6">
                                    <legend class="col-form-label col-12 pt-0">Search By <span class="mandatory"> *</span></legend>
                                    <div class="row col-12 mt-2">


                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" value="S" name="radioSearch" data-bind="checked: BasedOn" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">Holder No</label>
                                        </div>
                                        <div class="custom-control custom-radio ml-2">

                                            <input type="radio" id="customRadio2" value="W" name="radioSearch" data-bind="checked: BasedOn" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">Warrant</label>
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                            <div class="row">
                                <div class="form-group row col-md-3 col-sm-12">
                                    <label class="col-sm-12 col-md-12 col-form-label" for="dividendSelect">Dividend <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12">
                                        <select class="form-control form-control-sm" disabled="disabled" id="DividendTable" data-bind='options: DividendLists,optionsText: "ShowDividendText",optionValue:"Divcode",value:SelectedDividend, optionsCaption:"---Dividends---"'>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label" id="textBasedOn">Shholder No: <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12">
                                        <input class="form-control form-control-sm" type="text" disabled="disabled" onkeypress="return isNumberKey(event)" id="textBasedOnPlace" data-bind="value: ShholderNo ,event: { blur: searchData }" placeholder="Enter Respective Number">
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-sm-12 pt-4">
                                    <button type="button" class="btn btn-primary mt-3" name="" id="SignatureButton" data-toggle="modal" data-bind="click :GetSignature">
                                        Show Signature
                                    </button>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">Name <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12">
                                        <input class="form-control form-control-sm" data-bind="value: FullName" type="text" disabled placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">Address <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12">
                                        <input class="form-control form-control-sm" data-bind="value: Address" type="text" disabled placeholder="Address">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">Father's Name <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12">
                                        <input class="form-control form-control-sm" data-bind="value: FaName" type="text" disabled placeholder="Father's Name">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">Grand Father's Name <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12">
                                        <input class="form-control form-control-sm" data-bind="value: GrFaName" type="text" disabled placeholder="Grand Father's Name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">Total Kitta <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12">
                                        <input class="form-control form-control-sm" data-bind="value: TotalKitta" type="text" disabled placeholder="Total Kitta">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">District <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12">
                                        <input class="form-control form-control-sm" data-bind="value: DistCode" type="text" disabled placeholder="District">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">P.O. Box No. <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12">
                                        <input class="form-control form-control-sm" type="text" data-bind="value: PboxNo" disabled placeholder="Post Office Number">
                                    </div>
                                </div>

                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">Telephone</label>
                                    <div class="col-sm-12 col-md-12">
                                        <input class="form-control form-control-sm" type="text" data-bind="value: MobileNo" onkeypress="return isNumberKey(event)" maxlength="10" disabled placeholder="Telephone">
                                    </div>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="row ">
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12 ">
                                    <label class="col-12 col-form-label ">AGM NO <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12 ">
                                        <input class="form-control form-control-sm " type="text" data-bind="value: AgmNo" onkeypress="return isNumberKey(event)" disabled placeholder="AGM No">
                                    </div>
                                </div>

                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12 ">
                                    <label class="col-12 col-form-label " id="textBasedOn2">Warrant No <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12 ">
                                        <input class="form-control  form-control-sm" type="text" data-bind="value: WarrantNo" disabled placeholder="Warrant">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12 ">
                                    <label class="col-12 col-form-label ">Dividend Amount<span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12 ">
                                        <input class="form-control  form-control-sm" type="text" data-bind="value: WarrantAmt" disabled placeholder="Dividend Amount">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12 ">
                                    <label class="col-12 col-form-label ">Payable Amount<span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12 ">
                                        <input class="form-control  form-control-sm" type="text" data-bind="value: TotalPayable" disabled placeholder="Payable Amount">
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12 ">
                                    <label class="col-12 col-form-label ">Dividend Tax Amount<span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12 ">
                                        <input class="form-control  form-control-sm" type="text" data-bind="value: TaxDamt" disabled placeholder="Tax Amount">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12 ">
                                    <label class="col-12 col-form-label ">Bonus Tax Amount <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12 ">
                                        <input class="form-control  form-control-sm" type="text" data-bind="value: bonustax" disabled placeholder="Bonus Tax Amount">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12 ">
                                    <label class="col-12 col-form-label ">Bonus Adj Amount <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12 ">
                                        <input class="form-control  form-control-sm" type="text" data-bind="value: bonusadj" disabled placeholder="Bonus Adj Amount">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12 ">
                                    <label class="col-12 col-form-label ">Previous Adj Amount<span class="mandatory"></span></label>
                                    <div class="col-sm-12 col-md-12 ">
                                        <input class="form-control  form-control-sm" type="text" data-bind="value: prevadj" disabled placeholder="Previous Adj Amount">
                                    </div>
                                </div>
                                
                            </div>
                            <hr class="my-2">
                            <fieldset class="form-group col-12">
                                <legend class="col-form-label col-12 pt-0">Payment Type <span class="mandatory"> *</span></legend>

                                <div class="row col-12">


                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio3" value="Cash" name="radioS" data-bind="checked: PaidBy,checkedValue:'1'" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio3">Cash</label>
                                    </div>
                                    <div class="custom-control custom-radio ml-2">

                                        <input type="radio" id="customRadio4" value="Cheque" name="radioS" data-bind="checked: PaidBy,checkedValue:'2'" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio4">Cheque</label>
                                    </div>
                                </div>

                            </fieldset>
                            <div class="row ">
                                <div class="form-group row col-xl-3 col-md-3 col-sm-12 col-12 " id="simple-date1">
                                    <label class="col-sm-12 col-md-12 col-form-label" for="wIssued">Issued Date <span class="mandatory"> *</span></label>
                                    <div class="input-group date col-sm-12 col-md-12">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="text" data-bind="value: WIssuedDt" class="form-control form-control-sm" placeholder="Select a Date" id="wIssued">
                                    </div>
                                </div>
                                
                                <div class="form-group row col-md-3 col-sm-12">
                                    <label class="col-sm-12 col-md-12 col-form-label" for="payCenterSelect">Pay Center <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12">
                                        <select class="select2-single-placeholder form-control form-control-sm" id="payCenterSelect" data-bind='options: PaymentCenters,optionsText: "PaymentDisplayName",value:SelectedPaymentCenter, optionsCaption:"---Payment Center---"'>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-3 col-sm-12 col-12 ">
                                    <label class="col-12 col-form-label ">Telephone No <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12 ">
                                        <input class="form-control  form-control-sm" id="telno" onkeypress="return isNumberKey(event)" maxlength="10" data-bind="value: telno" type="text" placeholder="Enter Telephone No. ">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-3 col-sm-12 col-12 ">
                                    <label class="col-12 col-form-label ">Remarks <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12 ">
                                        <input class="form-control  form-control-sm" id="remarks" data-bind="value: remarks" type="text" placeholder="Enter Remarks" maxlength="50" />
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-3 col-sm-12 col-12 ">
                                    <label class="col-12 col-form-label ">Bank Name <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12 ">
                                        <input class="form-control  form-control-sm" id="bankName"  data-bind="value: bankName" type="text" placeholder="Enter Bank Name ">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-3 col-sm-12 col-12 ">
                                    <label class="col-12 col-form-label ">Account No <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-12 ">
                                        <input class="form-control  form-control-sm" id="accountNo" data-bind="value: accountNo" type="text" placeholder="Enter Account No" maxlength="50" />
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-3 col-sm-12 col-12 " data-bind="visible: IsPaidBy" id="simple-date1">
                                    <label class="col-sm-12 col-md-12 col-form-label" for="creditedDt">Credited Date <span class="mandatory"> *</span></label>
                                    <div class="input-group date col-sm-12 col-md-12">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="text" data-bind="value: creditedDt" class="form-control form-control-sm" placeholder="Select a Date" id="creditedDt">
                                    </div>
                                </div>
                                <div class="row col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: IsPaidBy" id="DividentPayment" checked>
                                        <label class="custom-control-label" for="DividentPayment">Divident Payment</label>
                                    </div>
                                </div>
                                <hr class="my-4 ">
                                <div class="row col-12 p-4 justify-content-center ">
                                    <div class="col-xl-2 col-md-3 col-sm-4 col-6 ">
                                        <input type="button" id="SaveButton" class="btn btn-success mr-2 mt-1 col-12 " value="Save" data-bind="click: SaveCashDividend">
                                    </div>
                                    <div class="col-xl-2 col-md-3 col-sm-4 col-6 ">
                                        <input type="button" id="ClearButton" class="btn btn-info mr-2 mt-1 col-12 " value="Clear" data-bind="click: Refresh">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Footer{
    <script src="~/vendor/sweetalert/sweet-alert.js"></script>
    <script src="~/scripts/DividendProcessing/DividendIssueEntry.js"></script>
}