
@{
    ViewData["Title"] = "View";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}

@section Header{
    <link href="~/vendor/sweetalert/sweet-alert.css" rel="stylesheet" />
    <style>
        th {
            width: none !important;
        }
    </style>
}




<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">

                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Certificate</li>
                                <li class="breadcrumb-item active" aria-current="page">Certificate Distribution Posting</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Default Basic Forms Start -->
            <div class="card mb-4">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Certificate Distribution Posting</h6>
                </div>

                <hr class="my-1">

                <div class="card-body">
                    <div class="pd-20 card-box mb-30">


                        <div class="clearfix">

                        </div>

                        <div class="row">

                            @*<div class="form-group row col-md-6 col-sm-12">
                                <label class="col-sm-12 col-md-11 col-form-label">Company <span class="mandatory"> *</span></label>
                                <div class="col-sm-12 col-md-11">
                                    <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row col-sm-12 col-md-6 justify-content-end">
                                <div class="mt-lg-5 mt-xl-5 mt-md-5 mt-sm-0 mt-0 ">
                                    <input class="btn btn-primary " type="button" value="Refresh" data-bind="click: RefreshData" />
                                </div>
                            </div>*@
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-sm-12 col-form-label" for="reportSelect2">Company <span class="mandatory">*</span></label>
                                    <div class="col-sm-12 col-md-12">
                                        <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                    </select>
                                    </div>
                                </div>

                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                     <label class="col-12 col-form-label" style="color:transparent">l</label>
                                    <div class="col-sm-12 col-md-12">
                                        <input class="btn btn-primary col " type="button" value="Refresh" data-bind="click: RefreshData" />
                                    </div>
                                </div>

                        </div>

                        <div class="row">

                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Start Issued Date <span class="mandatory"> *</span></label>
                                <div class="col-sm-12  col-md-12 input-group date">
                                    <input type="text" class="form-control form-control-sm " id="simple-date1" data-bind="value:startdate" />
                                </div>
                            </div>

                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">End Issued Date <span class="mandatory"> *</span></label>
                                <div class="col-sm-12  col-md-12 input-group date">
                                    <input type="text" class="form-control form-control-sm "  id="simple-date2" data-bind="value:enddate" />
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-12">
                                <table id="tbl_CertificateDistribute" class="table  table-bordered">
                                    <thead>
                                        <tr>
                                            <th> <input type="checkbox" data-bind="checked: SelectAll" id="chk" /></th>
                                            <th>Cert-No</th>
                                            <th>Holder No</th>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Distributed Date</th>
                                            <th>ShKitta</th>
                                            <th>SrNoFrom</th>
                                            <th>SrNoto</th>
                                            <th>EntryBy</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:CertificateDistributionList">
                                        <tr>
                                            <td><input type="checkbox" data-bind="checked: Selected" class="case" name="case[]" /></td>
                                            <td data-bind="text: CertNo"></td>
                                            <td data-bind="text: ShHolderNo"></td>
                                            <td data-bind="text: FName() +' '+LName()"></td>
                                            <td data-bind="text: Address"></td>
                                            <td data-bind="text: CertDistDt"></td>
                                            <td data-bind="text: ShKitta"></td>
                                            <td data-bind="text: SrNoFrom"></td>
                                            <td data-bind="text: SrNoTo"></td>
                                            <td data-bind="text: UserName"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <hr clss="my-4">
                        <div class="row col-12">
                            <div class="col-xl-3  col-md-4 col-sm-4 col-6 ">
                                <input type="text" class="form-control form-control-sm mr-2 mt-1 " data-bind="value:PostingRemarks" placeholder="Posting Remarks" />
                            </div>
                            <div class="col-xl-4  col-md-4 col-sm-4 col-6 ">
                                <input type="date" class="form-control form-control-sm mr-2 mt-1 " data-bind="value:PostingDate" />
                            </div>
                        </div>

                        <div class=" row p-2">
                            <div class="form-group row col-xl-12 col-md-12 col-sm-12 col-12">
                                <div class=" col-3 ">
                                    <input type="button" class="btn btn-success  col-12" data-bind="click:PostCertificateDistributionEntry.bind($data,'A')" value="Authorization">
                                </div>

                                <div class=" col-3 ">
                                    <input type="button" class="btn btn-dark  col-12" data-bind="click:PostCertificateDistributionEntry.bind($data,'R')" value="Rejection">
                                </div>
                                <div class=" col-3 ">
                                    <input type="button" class="btn btn-dark  col-12" data-bind="click:PostCertificateDistributionEntry.bind($data,'D')" value="Delete">
                                </div>
                                <div class=" col-3 ">
                                    <input type="button" class="btn btn-light  col-12" data-bind="click:ClearControl" value="ClearControl">
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Footer{ 
<script type="text/javascript">
        function toggle(source) {
            checkboxes = document.getElementsByName('case[]');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }

</script>
    <script src="~/scripts/Certificate/CertificateDistributionPosting.js?v=0.1"></script>

}

