@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Fund Transfer - Bank Setup";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}
<style>
    .table td:hover{
        cursor:pointer
    }
</style>

<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Update Bank Details</h6>
                </div>
                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box ">
                                         
                       <div class="row">
                                <span class = " col-4 justify-content-left">
                                <button class="btn btn-primary col-10" data-bind="click: GetBanksFromAPI">Sync Banks From API</button>
                                        </span>
                                        <span class = " col-4 justify-content-right">
                                            <button class="btn btn-primary col-10" data-bind="click: GetBanks">View Bank List in System</button>
                                        </span>
                         </div>
                      
                        <div class="row pt-4">
                        <div class="table-responsive table-hover" id="BankDetailsDiv">
                            <table id="BankDetails" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Bank Name</th>
                                        <th>SwiftCode</th>
                                        <th>NCHL Code</th>
                                        <th hidden="hidden">ValidAccount</th>
                                        <th hidden="hidden">Regex</th>
                                        
                                    </tr>
                                </thead>
                                 <tbody data-bind="foreach:BankList">
                                        <tr data-bind="click: OpenModal">

                                            <td data-bind="text: BankName"></td>
                                            <td data-bind="text: SwiftCode"></td>
                                            <td data-bind=" text: BankCode""></td>
                                            <td hidden="hidden" data-bind="text: Account_Validation"></td>
                                            <td hidden="hidden" data-bind="text: Regex"></td>
                                            


                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                        </div>
                            <div class="modal fade" id="UpdateBankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="col-12">
                                        <div class="card col-12">
                                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">Search Certificate</h6>
                                            </div>
                                            <hr class="my-1">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-12">
                                                        <div class="col-sm-12 col-md-12">
                                                            <input class="form-control form-control-sm" disabled= "disabled"type="text"  data-bind="value: ModalBankName">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-12">
                                                        <div class="col-sm-12 col-md-12">
                                                            <input class="form-control form-control-sm" type="text" disabled="disabled"  data-bind="value: ModalSwiftCode">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-12">
                                                        <div class="col-sm-12 col-md-12">
                                                            <input class="form-control form-control-sm" type="text" placeholder="BankCode" data-bind="value: ModalBankCode">
                                                        </div>
                                                    </div>
                                                   
                                                    
                                                </div>


                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-bind="click : SetBankCode">Update </button>
                                </div>
                            </div>
                        </div>
                    </div>
           
                        
                    </div>
                </div>
             
              
            </div>

        </div>
    </div>
</div>


@section Footer{
<script src="/vendor/sweetalert/sweet-alert.js"></script>
<script src="/scripts/FundTransfer/BankDetails.js" asp-append-version="true"></script>
}

