
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}

@section Header{
    <link href="~/vendor/sweetalert/sweet-alert.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">

                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Reports</li>
                                <li class="breadcrumb-item active" aria-current="page">Summary Report</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Summary Report</h6>
                </div>
                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box mb-30 ">
                        <div class="row">
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-form-label">Company <span class="mandatory"> *</span></label>
                                <div>
                                    <select class="form-control form-control-sm" id="CompanyList" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-form-label">Summary Report</label>
                                <input type="button" class="btn btn-primary col-12" id="SummaryButton" value="Summary Report" data-bind="click: GenerateReport.bind($data,'S')">
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-form-label">Kitta Wise Report</label>
                                <input type="button" class="btn btn-info col-12" id="KittaButton" value="Kitta Wise Report" data-bind="click: GenerateReport.bind($data,'K')">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Footer{
    <script src="~/vendor/sweetalert/sweet-alert.js"></script>
    <script src="~/scripts/Reports/SummaryReport.js?v=0.1"></script>
}
