@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Reports</li>
                                <li class="breadcrumb-item active" aria-current="page">Certificate Split Report</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Certificate Split Report</h6>
                </div>
                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box mb-30">
                        <form>
                            <div class="row">
                                <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12 ">
                                    <label class="col-form-label" for="companySelect2">Company <span class="mandatory"> *</span></label>
                                    <div>
                                        <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12 ">
                                    <label class="col-form-label">Data Type: <span class="mandatory"> *</span></label>
                                    <div class="input-group col-12 px-0 py-1">
                                        <div class="custom-control custom-radio col-6">
                                            <input type="radio" id="Posted" name="customRadio" class="custom-control-input" data-bind="checked:SelectedDataType,checkedValue:'P'">
                                            <label class="custom-control-label" for="Posted">Posted</label>
                                        </div>
                                        <div class="custom-control custom-radio col6">
                                            <input type="radio" id="Unposted" name="customRadio" class="custom-control-input" data-bind=" checked:SelectedDataType,checkedValue:'U'">
                                            <label class="custom-control-label" for="Unposted">Unposted</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12 " id="simple-date1">
                                    <label class="col-form-label" for="SplitDateFrom">Split Date From: <span class="mandatory"> *</span></label>
                                    <div class="input-group date">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="text" data-bind="value: SplitDateFrom" class="form-control form-control-sm" placeholder="Enter a Date" id="SDateFrom">
                                    </div>
                                </div>
                                <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12 " id="simple-date1">
                                    <label class="col-form-label" for="SplitDateTo">Split Date To: <span class="mandatory"> *</span></label>
                                    <div class="input-group date">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="text" data-bind="value: SplitDateTo" class="form-control form-control-sm" placeholder="Enter a Date" id="SDateTo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">                                                  
                                <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-form-label" id="CNofrom">Certificate No From:</label>
                                    <div class="">
                                        <input class="form-control form-control-sm" type="text" onkeypress="return isNumberKey(event)" data-bind="value: CertNoFrom" placeholder="Enter Certificate Number">
                                    </div>
                                </div>
                                <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-form-label" id="To">Certificate No To:</label>
                                    <div class="">
                                        <input class="form-control form-control-sm" type="text" onkeypress="return isNumberKey(event)" data-bind="value: CertNoTo" placeholder="Enter Certificate Number">
                                    </div>
                                </div>
                                <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-form-label" id="Holder">Holder No From:</label>
                                    <div class="">
                                        <input class="form-control form-control-sm" type="text" onkeypress="return isNumberKey(event)" data-bind="value: HolderNoFrom" placeholder="Enter Holder Number">
                                    </div>
                                </div>
                                <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-form-label" id="To">Holder No To:</label>
                                    <div class="">
                                        <input class="form-control form-control-sm col-12" type="text" onkeypress="return isNumberKey(event)" data-bind="value: HolderNoTo" placeholder="Enter Holder Number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-md-6 col-sm-12">
                                    <label class="col-form-label">Pdf Repoort</label>
                                    <input type="button" id="ok" class="btn btn-info col-12 " value="View" data-bind="click: GenerateReport">
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Footer{
<script src="~/vendor/sweetalert/sweet-alert.js"></script>
<script src="~/scripts/Reports/CertificateSplitReport.js"></script>
}
