################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ENTITY/obj
/INTERFACE/obj
/REPOSITORY/obj
/Shareplus/AppLogs
/Shareplus/app_logs
/Shareplus/bin/output/Debug/net6.0/temp-keys
/Shareplus/bin/output/Debug/net6.0
/Shareplus/obj/Debug/net6.0
/Shareplus/wwwroot/UploadExcel/BulkInsert
/Shareplus/wwwroot/UploadExcel
/Shareplus/wwwroot/UploadExcel
/ENTITY/bin/Debug/net6.0
/INTERFACE/bin/Debug/net6.0
/REPOSITORY/bin/Debug/net6.0
/Shareplus/obj
/.vs
