
@{
    ViewData["Title"] = "Certificate Handling - Certificate History";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Certificate</li>
                                <li class="breadcrumb-item active" aria-current="page">Certificate History</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="card mb-4">

                    <div class="card mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Certificate History</h6>
                        </div>
                        <hr class="my-1">
                        <div class="card-body">
                            <div class="pd-20 card-box mb-30">
                                <div class="clearfix">
                                </div>
                                <div class="row">
                                    <div class="form-group row col-xl-5 col-md-5 col-sm-12">
                                        <label class="col-sm-12 col-md-11 col-form-label">Company <span class="mandatory"> *</span></label>
                                        <div class="col-sm-12 col-md-11">
                                            <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group row col-xl-4 col-md-4 col-sm-12">
                                        <label class="col-sm-12 col-md-11 col-form-label">Certificate No: <span class="mandatory"> *</span></label>
                                        <div class="col-sm-12 col-md-11">
                                            <input onkeypress="return isNumberKey(event)" onkeydown="return isCopy(event)" type="text" placeholder="Enter Certificate No" class="form-control form-control-sm" id="CertNo" data-bind="value:CertNo,valueUpdate: 'input',executeOnEnter:GetCertInformation.bind($data,CertNo), event:{blur:GetCertInformation.bind($data,CertNo)}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group row col-xl-2 col-md-4 col-sm-6">
                                        <label class="col-sm-12 col-md-11 col-form-label">Holder No:</label>
                                        <div class="col-sm-12 col-md-11">
                                            <input class="form-control form-control-sm" id="txtShareHolderNo" type="text" disabled placeholder="Holder No" data-bind='value:ShareHolderNo'>
                                        </div>
                                    </div>
                                     <div class="form-group row col-xl-4 col-md-8 col-sm-12">
                                        <label class="col-sm-12 col-md-11 col-form-label">Holder Name</label>
                                        <div class="col-sm-12 col-md-11">
                                            <input class="form-control form-control-sm" id="txtHName" type="text" disabled placeholder="Name" data-bind='value:HolderName'>
                                        </div>
                                    </div>
                                     <div class="form-group row col-xl-2 col-md-4 col-sm-12">
                                        <label class="col-sm-12 col-md-11 col-form-label">Total Kitta</label>
                                        <div class="col-sm-12 col-md-11">
                                            <input class="form-control form-control-sm" id="txtPkitta" type="text" disabled placeholder="Total kitta" data-bind='value:PKitta'>
                                        </div>
                                    </div>
                                    <div class="form-group row col-xl-4 col-md-8 col-sm-12">
                                        <label class="col-sm-12 col-md-11 col-form-label">Address</label>
                                        <div class="col-sm-12 col-md-11">
                                            <input class="form-control form-control-sm" id="txtAddress" type="text" disabled placeholder="Address" data-bind='value:Address'>
                                        </div>
                                    </div>
                                   
                                    
                                </div>

                                <div class="row">
                                     
                                        <div class="form-group row col-xl-2 col-md-8 col-sm-12" >
                                        <label class="col-sm-12 col-md-11 col-form-label">SrNo From: </label>
                                        <div class="col-sm-12 col-md-11">
                                            <input class="form-control form-control-sm" id="txtStartSrNo" type="text" disabled placeholder="Start Serial No" data-bind='value:StartSerialNo'>
                                        </div>
                                    </div>
                                    <div  class="form-group row col-xl-2 col-md-8 col-sm-12" >
                                        <label class="col-sm-12 col-md-11 col-form-label">SrNo To: </label>
                                        <div class="col-sm-12 col-md-11">
                                            <input class="form-control form-control-sm" id="txtEndSrNo" type="text" disabled placeholder="End Serial No" data-bind='value:EndSeriaLNo'>
                                        </div>
                                    </div>
                                   
                                     <div class="form-group row col-xl-3 col-md-4 col-sm-12">
                                        <label class="col-sm-12 col-md-11 col-form-label">Certificate Status</label>
                                        <div class="col-sm-12 col-md-11">
                                            <input class="form-control form-control-sm" id="txtPStatus" type="text" disabled placeholder="Certificate Status" data-bind='value:PStatus'>
                                        </div>
                                    </div>
                                    <div class="form-group row col-xl-2 col-md-4 col-sm-12">
                                        <label class="col-sm-12 col-md-11 col-form-label">Share Type </label>
                                        <div class="col-sm-12 col-md-11">
                                            <input class="form-control form-control-sm" id="txtSCategory" type="text" disabled placeholder="Share type" data-bind='value:ShareCategory'>
                                        </div>
                                    </div>
                                    <div class="form-group row col-xl-3 col-md-4 col-sm-12">
                                        <label class="col-sm-12 col-md-11 col-form-label">ShareOwner Type </label>
                                        <div class="col-sm-12 col-md-11">
                                            <input class="form-control form-control-sm" id="ShareOwnerType" disabled="disabled" placeholder="ShareOwnerType"  data-bind='value:SelectedShownerType'/>
                                            
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="row">
                                   
                                   
                                </div>
                                <div class="row">
                                    
                                </div>
                                <hr class="my-4 ">
                                <div class="table-responsive">
                                    <table id="Dakhiltransfer" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>SrNo</th>
                                                <th>Buyer Name</th>
                                                <th>B.SHNo</th>
                                                <th>Tran Date</th>
                                                <th>ShHolderNo</th>
                                                <th>RegNo</th>
                                                <th>Tran No</th>
                                                <th>SrNo From</th>
                                                <th>SrNo To</th>
                                                <th>Kitta</th>
                                                @*<th>Broker No</th>*@
                                                <th>Remarks</th>
                                                <th>Batch No</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach:DAKHILTRANSFERLIST">
                                            <tr>
                                                <td><span data-bind="text: ($index() + 1)"> </span> </td>
                                                <td data-bind="text: BuyerName"></td>
                                                <td data-bind="text: BHolderNo"></td>
                                                <td data-bind="text: DakhilDt"></td>
                                                <td data-bind="text: SHolderNo"></td>
                                                <td data-bind="text: RegNo"></td>
                                                <td data-bind="text: TranNo"></td>
                                                <td data-bind="text: SrNoFrom"></td>
                                                <td data-bind="text: SrNoTo"></td>
                                                <td data-bind="text: TranKitta"></td>
                                                <td data-bind="text:Remarks"></td>
                                                <td data-bind="text: batchno"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group row col-xl-12 col-md-6 col-sm-12 col-12">
                                    <div class="form-group col-sm-12">
                                        <input type="button" id="btnClear" class="btn btn-primary mr-2 mt-1 col-3" value="Clear" disabled="disabled" data-bind="click: Clear">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Footer{
    <script src="~/vendor/sweetalert/sweet-alert.js"></script>
    <script src="~/scripts/Certificate/CertificateHistory.js"></script>
}


