
@{
    ViewData["Title"] = "De-Materialize Entry";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}

@section Header{
    <link href="~/vendor/sweetalert/sweet-alert.css" rel="stylesheet" />
    <style>
        th {
            width: none !important;
        }
    </style>
}

<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
             <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">

                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">CDS Module</li>
                                <li class="breadcrumb-item active" aria-current="page">Dematerialize Certificate Entry</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">De-Materialize Entry</h6>
                </div>
                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box mb-30">
                        <div class="clearfix">
                            @*<div class="pull-left">
                            <h4 class="text-blue h4">Create User</h4>
                        </div>*@
                        </div>

                        <div class="row col-12 p-4 justify-content-center ">

                            <div class="col-xl-3 col-md-3 col-sm-4 col-6 ">
                                <input type="button" class="btn btn-primary mr-2 mt-1 col-12 " id="Add" value="Add" data-bind="click:ChooseOption.bind($data, 'A')">
                            </div>
                            <div class="col-xl-3 col-md-3 col-sm-4 col-6 ">
                                <input type="button" class="btn btn-warning mr-2 mt-1 col-12 " id="Edit" value="Edit" data-bind="click:ChooseOption.bind($data, 'U')">
                            </div>
                            <div class="col-xl-3 col-md-3 col-sm-4 col-6 ">
                                <input type="button" class="btn btn-danger mr-2 mt-1 col-12" id="Delete" value="Delete" data-bind="click:ChooseOption.bind($data, 'D') ">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-sm-12 col-md-11 col-form-label">Company <span class="mandatory"> *</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="ISINNO">ISIN No: <span class="mandatory">*</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="ISINNO" disabled="disabled" data-bind='options: ParaCompChildList,optionsText: "PCISIN_NO",optionsValue:"PCISIN_NO",value:SelectedISINNO, optionsCaption:"---ISIN NO---"'>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="CDSNO">
                                    CDS H Number
                                </label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" disabled="disabled" onkeypress="return isNumberKey(event)" type="text" maxlength="3" placeholder="Enter CDS H Number" id="CDSNO" data-bind="value: CDSNO" maxlength="10" />
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="description">
                                    Description
                                </label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" type="text" disabled="disabled" placeholder="Enter Description" id="description" data-bind="value: Description" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="Rec">Rec ID</label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" type="text" disabled="disabled" placeholder="Enter Rec ID" id="Rec" data-bind="value: RecID" />

                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="holderNo">Share Holder No <span class="mandatory">*</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" disabled="disabled" onkeypress="return isNumberKey(event)" type="text" maxlength="10" placeholder="Enter ShareHolder No" id="holderNo" data-bind="value: ShareHolderNo,event :{blur: SearchData}" />
                                </div>
                            </div>
                            <div class="col-2 mt-4">
                                <button type="button" class="btn btn-primary mr-2 mt-1 col-8 " disabled="disabled" id="SearchButton" data-toggle="modal" data-target="#searchQueryModalTheme">Search</button>

                            </div>
                            <div class="col-2 mt-4">
                                <input type="button" class="btn btn-primary mr-2 mt-1 col-8 " id="showSignature" data-toggle="modal" value="Signature" data-bind="click:GetSignature">
                            </div>



                        </div>

                        <div class="row">
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="HolderName">
                                    Holder Name
                                </label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" disabled="disabled" onkeypress="return isNumberKey(event)" type="text" placeholder="Enter Holder Name" id="HolderName" data-bind="value:HolderName" />
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="Address">Address</label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" type="text" disabled="disabled" placeholder="Enter Address" maxlength="20" id="Address" data-bind="value: Address" />

                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="FatherName">Father Name</label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" disabled="disabled" type="text" placeholder="Enter Father Name" id="FatherName" data-bind="value: FatherName" />
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="GFatherName">
                                    Grand Father Name
                                </label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" disabled="disabled" type="text" placeholder="Enter Grand Father Name" id="GFatherName" data-bind="value:GFatherName" />
                                </div>
                            </div>



                        </div>
                        <div class="row">
                           
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="TotalKitta">
                                    Total Kitta
                                </label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" disabled="disabled" type="text" placeholder="Enter Total Kitta " id="TotalKitta" data-bind="value:TotalKitta" />
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label">Demate Type <span class="mandatory">*</span></label>

                                <div class="custom-control custom-radio">
                                    <input type="radio" disabled="disabled" id="REQ" name="customRadio" class="custom-control-input" data-bind="checked:DemateType,checkedValue:'1'">
                                    <label class="custom-control-label" for="REQ">Demate Req </label>
                                </div>
                                <div class="custom-control custom-radio ml-4">
                                    <input type="radio" disabled="disabled" id="CA" name="customRadio" class="custom-control-input" data-bind=" checked:DemateType,checkedValue:'2'">
                                    <label class="custom-control-label" for="CA">Bonus CA</label>
                                </div>
                            </div>
                          
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label" for="CertDetails">Cert Details </label>
                                    <div class="col-sm-12 col-md-12">
                                        <select class="form-control form-control-sm" disabled="disabled" id="BonusIssueSelect" data-bind='options: TBLCertificateDetailList,optionsText: "TBLCDDescription",optionsValue:"TBLCDCert_Id",value:SelectedBonusIssue, optionsCaption:"---Cert Detail---"'>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-2 mt-4">
                                    <input type="button" class="btn btn-primary mr-2 mt-1 col-12" disabled="disabled" id="GetCertificate" value="Get Certificates" data-bind="click:GetCertificateList">
                                </div>
                        </div>
                       
                        <hr class="my-4 ">


                        <div class="col-12 p-3" id="tbl_certificate_list_tbl">
                            <table id="tbl_certificate_list" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th> <input type="checkbox" data-bind="checked: SelectAll" id="chk" /></th>

                                        <th>Certificate No</th>
                                        <th>Serial No From</th>
                                        <th>Serial No To</th>
                                        <th>Kitta</th>
                                        <th>ShareType</th>
                                        <th>ShOwner Type</th>

                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: CertificateList">
                                    <tr>
                                        <td><input type="checkbox" data-bind="checked: Selected" class="case" name="case[]" onclick="CalculatePledgeKitta()" /></td>

                                        <td data-bind="text:CertNo"></td>
                                        <td data-bind="text:SrNoFrom"></td>
                                        <td data-bind="text:SrNoTo"></td>
                                        <td data-bind="text:ShKitta"></td>
                                        <td data-bind="text:ShareTypeText"></td>
                                        <td data-bind="text:ShOwnerTypeText"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr class="my-4 ">

                        <div class="row">
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="RegNo">Reg No </label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" type="text" disabled="disabled" placeholder="Enter Reg No" id="RegNo" data-bind="value: RegNo" />

                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="DRNNo">DRN No <span class="mandatory">*</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" disabled="disabled" onkeypress="return isNumberKey(event)" type="text" placeholder="Enter DRN No" id="DRNNo" data-bind="value: DRNNo" />
                                </div>
                            </div>

                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="DemateReqFrom">Demate Req From <span class="mandatory">*</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" disabled="disabled" id="DPList" data-bind='options: DPList,optionsText: "DisplayDP",optionsValue:"DP_CODE",value:SelectedDP, optionsCaption:"---DP List---"'>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12" id="simple-date1">
                                <label class="col-12 col-form-label" for="DemateReqDate">Demate Request Date  <span class="mandatory"> *</span></label>
                                <div class="input-group date col-sm-12 col-md-12">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" disabled="disabled" data-bind="value: DemateReqDate" class="form-control form-control-sm" placeholder="Select a Date" id="DemateReqDate">
                                </div>
                            </div>
                        </div>


                        <div class="row">                        
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12" id="simple-date2">
                                <label class="col-12 col-form-label" for="EntryDate">Entry Date</label>
                                <div class="input-group date col-sm-12 col-md-12">
                                    <div class="input-group-prepend">

                                    </div>
                                    <input type="text" disabled="disabled" data-bind="value: EntryDate" class="form-control form-control-sm" placeholder="Select a Date" id="EntryDate">
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="BoAccountNo">BO Account No<span class="mandatory">*</span></label>
                                <div class="col-5">
                                    <input class="form-control form-control-sm" id="BoAccountNoFirst" type="text" disabled="disabled" onkeypress="return isNumberKey(event)" maxlength="8" placeholder="BOID" data-bind='value: BoAccountNoFirst'>
                                </div>
                                <div class="col-6">
                                    <input class="form-control form-control-sm" id="BoAccountNoLast" type="text" disabled="disabled" onkeypress="return isNumberKey(event)" maxlength="8" placeholder="Enter BOID" data-bind='value: BoAccountNoLast,event:{blur: MakeBOID}'>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="TotalDemateKitta">Total Demate Kitta</label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" type="text" disabled="disabled" placeholder="Enter Total Demate Kitta" id="TotalDemateKitta" data-bind="value: TotalDemateKitta" />

                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="Remarks">Remarks</label>
                                <div class="col-sm-12 col-md-12">
                                    <input class="form-control form-control-sm" disabled="disabled" type="text" placeholder="Enter Remarks" id="Remarks" data-bind="value: Remarks" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                          
                        </div>



                        <hr class="my-4 ">


                        <div class="row col-12 p-4 justify-content-center ">


                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 ">
                                <input type="button" class="btn btn-success mr-2 mt-1 col-12" id="Save" disabled="disabled" value="Save" data-bind="click:SaveDeMaterializeData.bind($data, 'S') ">
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 ">
                                <input type="button" class="btn btn-secondary mr-2 mt-1 col-12" id="Cancel" value="Cancel" data-bind="click: ClearControl.bind($data, 'Clear')">
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!-- Signature Modal Theme -->
            <div class="modal fade" id="signatureModalTheme" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Signature</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body row justify-content-center">
                            <img class="border border-secondary" data-bind="attr: { src: self.Signature() }" height="300px" width="400px">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="searchQueryModalTheme" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="col-12" data-bind="submit: SearchShHolder">
                                <div class="card col-12">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Search ShareHolder</h6>
                                    </div>
                                    <hr class="my-1">
                                    <div class="card-body">

                                        <div class="form-group row col-12">
                                            <label class="col-5 col-form-label">First Name</label>
                                            <div class="col-sm-6 col-md-6">
                                                <input class="form-control form-control-sm" type="text" placeholder="Enter First Name" data-bind="value: firstName, onsubl">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-bind="click : SearchShHolder">Search Holder</button>
                        </div>
                    </div>
                </div>
            </div>
            @* Modal For the List of Holders *@
            <div class="modal fade" id="HoldersList" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">Share Holder List</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-12">
                                <div class="card mb-4">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                                    </div>
                                    <div class="col-12 p-3 table-responsive">
                                        <table id="HolderListTable" class="table table-hover">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>S.N.</th>
                                                    <th>Shholder No</th>
                                                    <th>First Name</th>
                                                    <th>Father Name</th>
                                                    <th>Grand Father Name</th>
                                                    <th>Address</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach : ShHolderList">
                                                <tr data-bind="click: GetSholderInformation">
                                                    <td>
                                                        <span data-bind="text: ($index() + 1)" />
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: SShholderNo" />
                                                    </td>
                                                    <td>
                                                        <span data-bind="text:SFName() + ' ' + SLName()" />
                                                    </td>
                                                    <td>
                                                        <span data-bind="text:SFaName" />
                                                    </td>
                                                    <td>
                                                        <span data-bind="text:SGrFaName" />
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: SAddress " />
                                                    </td>
                                                    <td>
                                                        <i class="fas fa-check"> </i>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>

            @*EDIT RA DELETE KO LAGI MODAL*@
            
            <div class="modal fade" id="Demated_Certitificate_Table" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">Demated Certificate List</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-12">
                                <div class="card mb-4">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                                    </div>
                                    <div class="col-12 p-3 table-responsive">
                                        <table id="DematedCertificateTable" class="table table-hover">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>S.N.</th>
                                                    <th>Demate Reg No</th>
                                                    <th>Shholder No</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Tr Date</th>
                                                    <th>Remarks</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach : DCDematedCertificateList">
                                                <tr data-bind="click: GetDematedCertificateInformation">
                                                    <td>
                                                        <span data-bind="text: ($index() + 1)" />
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: DCDemateRegNo" />
                                                    </td>
                                                    <td>
                                                        <span data-bind="text:DCShHolderNo" />
                                                    </td>
                                                    <td>
                                                        <span data-bind="text:DCFName" />
                                                    </td>
                                                    <td>
                                                        <span data-bind="text:DCLName" />
                                                    </td>
                                                    <td>
                                                        <span data-bind="text:DCTRDate" />
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: DCRemarks " />
                                                    </td>
                                                    <td>
                                                        <i class="fas fa-check"> </i>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Footer{
    <script language="JavaScript" type="text/javascript">
        function toggle(source) {
            checkboxes = document.getElementsByName('case[]'); for (var i = 0, n = checkboxes.length;
                i < n; i++) { checkboxes[i].checked = source.checked; }
        }
    </script>
    <script src="https://unpkg.com/floatthead"></script>
    <script src="~/vendor/sweetalert/sweet-alert.js"></script>
    <script src="~/scripts/CDSModule/DeMaterializeEntry.js"></script>
}
