@{
    ViewData["Title"] = "Pledge/Release";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Pledge/Release</h6>
                </div>

                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box mb-30">
                        <div class="clearfix">
                        </div>
                        <form>
                            <div class="col-12 p-2">
                                <div class="pd-20 card-box mb-30">

                                    <div class="row">
                                        <div class="form-group col-xl-12 col-md-12 col-sm-12 col-12 text-center">
                                            <button id="Add" class="btn btn-primary" data-bind="click: AddAction">Add</button>
                                            <button id="Delete" class="btn btn-danger" data-bind="click: DeleteAction">Delete</button>
                                        </div>
                                        <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                            <label class="col-sm-12 col-md-11 col-form-label">Company <span class="mandatory"> *</span></label>
                                            <div class="col-sm-12 col-md-12">
                                                <select class="form-control form-control-sm" id="CompanyList" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                            <label class="col-sm-12 col-md-11 col-form-label">Dividend <span class="mandatory"> *</span></label>
                                            <div class="col-sm-12 col-md-12">
                                                <select class="form-control form-control-sm" id="DividendList"
                                                        data-bind='
                                                        options: DividendLists,
                                                        optionsText: "ShowDividendText",
                                                        optionsValue:"Divcode",
                                                        value:SelectedDividend,
                                                        optionsCaption:"---Dividends---" '>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xl-3 col-md-4 col-sm-12 col-12" style="margin-top:20px;">
                                           @*<input type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled">
                                           <input class="checkbox" type="checkbox" checked data-toggle="toggle" data-width="100" data-onstyle="primary">*@
                                           <label class="switch mt-3">
                                                <input type="checkbox" data-bind="checked: PledgeReleseStatus">
                                                <span class="slider round"></span>
                                            </label>
                                                <p class="mt-1" data-bind="text: StatusName"></p>
                                        </div>
                                        <div class="form-group col-xl-12 col-md-12 col-sm-12 col-12">

                                            <label class="col-sm-12 col-md-11 col-form-label">Dividend <span class="mandatory"> *</span></label>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-primary btn-sm" data-bind='click: DownloadDummyExcel'>Download Dummy Excel</button>
                                            </div>
                                        </div>
                                        <div class="form-group col-xl-4 col-md-5 col-sm-12 col-12">
                                            <div class="col-md-12 custom-file" >
                                                <input type="file" class="file" id="fileupload" name="files" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" data-bind="enable: SelectedDividend()!=undefined" />
                                            </div>
                                        </div>
                                        <div class="form-group col-xl-4 col-md-4 col-sm-12 col-12">

                                            <div class="col-md-12">
                                                <select class="form-control form-control-sm" id="SheetNameList" data-bind='options: SheetLists,optionsText: "SheetName",value:SelectedSheet, optionsCaption:"---Excel Sheet Name---"'>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xl-4 col-md-4 col-sm-12 col-12">
                                           <div class="col-md-12">
                                                <button class="btn btn-primary btn-sm" type="button" data-bind="click: UploadExcel">Upload</button>
                                            </div>
                                        </div>

                                        <div class="form-group col-xl-12 col-md-12 col-sm-12 col-12">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.N</th>
                                                    <th>BOID</th>
                                                    <th>Name</th>
                                                    <th>Remarks</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td><input style="width: 120px" class="form-control form-control-sm medium" type="text" data-bind="value: Boid"/></td>
                                                    <td><input style="width: auto" class="form-control form-control-sm" type="text" data-bind="value: Name"/></td>
                                                    <td><input style="width: 125px" class="form-control form-control-sm" type="text" data-bind="value: Remarks"/></td>
                                                    <td><input style="width: 110px" class="form-control form-control-sm" type="date" data-bind="value: Date"/></td>
                                                    <td>
                                                        <button class="btn btn-sm btn-primary" data-bind="click: AddPLRL"><i class="fa fa-plus"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot data-bind="foreach: PRList">
                                                <tr>
                                                    <th  data-bind="text: $index() + 1"></th>
                                                    <th  data-bind="text: boid"></th>
                                                    <th data-bind="text: name"></th>
                                                    <th data-bind="text: remarks"></th>
                                                    <th data-bind="text: date"></th>
                                                    <td style= "display: flex;">
                                                        <button class="btn btn-sm btn-primary" data-bind="click: $root.EditPR"><i class="fa fa-pen"></i></button>
                                                        <button class="btn btn-sm btn-danger ml-2" data-bind="click: $root.DeletePR"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        </div>
                                        
                                    </div>
                                    <div class="form-group col-xl-12 col-md-12 col-sm-12 col-12 text-right">
                                            <button class="btn btn-sm btn-primary" data-bind="click: UploadPRListFinal">Submit</button>
                                    </div>
                               </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Footer{
    <script src="~/scripts/DividendManagement/PledgeRelease.js"></script>
    <script src="~/vendor/sweetalert/sweet-alert.js"></script>
}
