@{
    ViewData["Title"] = "Signature Handling - Signature Individual Capture";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}

@section Header{
<link href="~/vendor/sweetalert/sweet-alert.css" rel="stylesheet" />
<style>
    th {
        width: none !important;
    }
</style>
}

<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">

                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Signature Individual Capture</li>
                                <li class="breadcrumb-item active" aria-current="page">Signature Individual Capture</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Signature Individual Capture</h6>
                </div>

                <div class="card-body">
                    <div class="pd-20 card-box mb-30">

                        <form>
                            <div class="row col-12 p-4 justify-content-center ">
                                <div class="col-xl-3 col-md-3 col-sm-4 col-6 ">
                                    <input type="button" class="btn btn-success mr-2 mt-1 col-12 " id="AddButton" value="Add" data-bind="click: chooseOptions.bind($data,'A')">
                                </div>
                                <div class="col-xl-3 col-md-3 col-sm-4 col-6 ">
                                    <input type="button" class="btn btn-info mr-2 mt-1 col-12 " id="UpdateButton" value="Replace" data-bind="click: chooseOptions.bind($data,'U')">
                                </div>
                                <div class="col-xl-3 col-md-3 col-sm-4 col-6 ">
                                    <input type="button" class="btn btn-danger mr-2 mt-1 col-12 " id="DeleteButton" value="Delete" data-bind="click: chooseOptions.bind($data,'D')">
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group row col-md-5">
                                    <label class="col-sm-12 col-md-11 col-form-label">Company <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-11">
                                        <select class="form-control form-control-sm" disabled="disabled" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <hr class="my-4">
                            <div class="row">
                                <div class="form-group row col-xl-4 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">ShHolder No <span class="mandatory">*</span></label>
                                    <div class="col-sm-12 col-md-10">
                                        <input class="form-control form-control-sm" disabled="disabled" onkeypress="return isNumberKey(event)" type="text" placeholder="Enter ShHolder Number"
                                               id="ShHolderNo" data-bind="value:ShHolderNo,valueUpdate: 'input',executeOnEnter:GetShHolderInformation.bind($data,ShHolderNo),
                                            event:{blur:GetShHolderInformation.bind($data,ShHolderNo)}" />
                                    </div>
                                </div>
                                <div class="form-group row col-xl-4 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">Total Kitta </label>
                                    <div class="col-sm-12 col-md-10">
                                        <input class="form-control form-control-sm" disabled="disabled" data-bind="value:TotalKitta" type="text" placeholder="Total Kitta">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-4 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">ShHolder Name</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input class="form-control form-control-sm" disabled="disabled" data-bind="value:ShHolderName" type="text" placeholder="Share Holder Name">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-4 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">ShHolder Address</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input class="form-control form-control-sm" disabled="disabled" data-bind="value:ShHolderAddress" type="text" placeholder="Share Holder Address">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-4 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">Scanned By</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input class="form-control form-control-sm" disabled="disabled" data-bind="value:ScannedBy" type="text" placeholder="Scanned By">
                                    </div>
                                </div>
                                    <div class="form-group row col-xl-4 col-md-6 col-sm-12 col-12">
                                        <label class="col-12 col-form-label ">Upload Signature <span class="mandatory">*</span></label>
                                        <div class="col-sm-12 col-md-12 ">
                                            <input class="form-control form-control-sm " type="file" accept="image/jpeg, image/png, image/bmp" name="image" disabled="disabled" id="signatureFile">
                                        </div>
                                    </div>
                                <div class="row justify-content-center col-12">
                                    <img class="border border-secondary" data-bind="attr: { src: self.Signature() }" height="300" width="400">
                                </div>
                            </div>

                            <div class="row col-12 p-4 justify-content-center ">

                                <div class="col-xl-2 col-md-3 col-sm-4 col-6 ">
                                    <input type="button" class="btn btn-success mr-2 mt-1 col-12 " id="Save" value="Save" data-bind="click: Save">
                                </div>
                                <div class="col-xl-2 col-md-3 col-sm-4 col-6 ">
                                    <input type="button" class="btn btn-info mr-2 mt-1 col-12" id="Refresh" value="Refresh" data-bind="click: Refresh">
                                </div>

                            </div>


                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


@section Footer{
<script src="~/vendor/sweetalert/sweet-alert.js"></script>
<script src="~/scripts/SignatureHandling/SignatureIndividualCapture.js"></script>
}