@{
    ViewData["Title"] = "Pool Account Split";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}

@section Header{
    <link href="~/vendor/sweetalert/sweet-alert.css" rel="stylesheet" />
    <style>
        th {
            width: none !important;
        }
    </style>
}


<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Pool Account Split</h6>
                </div>

                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box mb-30">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" id="AddSplitEntry" data-bind="click: AddSplitEntry">Create</button>
                                <button class="btn btn-danger" id="DeleteSplitEntry" data-bind="click: DeleteSplitEntry">Delete</button>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <form>
                            <div class="col-12 p-2">
                                <div class="pd-20 card-box mb-30">

                                    <div class="row">
                                        <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                            <label class="col-sm-12 col-md-11 col-form-label">Company <span class="mandatory"> *</span></label>
                                            <div class="col-sm-12 col-md-12">
                                                <select class="form-control form-control-sm" id="CompanyList" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                            <label class="col-sm-12 col-md-11 col-form-label">Dividend <span class="mandatory"> *</span></label>
                                            <div class="col-sm-12 col-md-12">
                                                <select class="form-control form-control-sm" id="DividendList"
                                                        data-bind='
                                                        options: DividendLists,
                                                        optionsText: "ShowDividendText",
                                                        optionsValue:"Divcode",
                                                        value:SelectedDividend,
                                                        optionsCaption:"---Dividends---" '>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                            <label class="col-sm-12 col-md-11 col-form-label">BOID <span class="mandatory"> *</span></label>
                                            <div class="col-sm-12 col-md-12">
                                                <input type="text" class="form-control form-control-sm" data-bind="value: BOID" />
                                            </div>
                                        </div>
                                        <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12 text-left" style="margin-top:10px;">
                                            <div class="col-sm-12 col-md-12 mt-4">
                                                <button type="button" class="btn btn-primary" data-bind="click: BOIDChange,enable: Action() != undefined">Search</button>
                                            </div>
                                        </div>


                                        <div class="form-group col-xl-12 col-md-12 col-sm-12 col-12 " data-bind="visible: ShowHolderInfo">

                                            <label class="col-sm-12 col-md-11 col-form-label">Holder Info <span class="mandatory"> *</span></label>

                                            <div class="row" id="holderInfo" data-bind="with: BoidInfoArray" disabled>

                                                    <div class="form-group col-xl-6 col-md-6 col-sm-12 col-12">
                                                        <label class="col-sm-12 col-md-11 col-form-label">Fullname <span class="mandatory"> </span></label>
                                                        <div class="col-sm-12 col-md-11">
                                                            <input type="text" class="form-control form-control-sm" data-bind="value:fullname" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                                        <label class="col-sm-12 col-md-11 col-form-label">Warrent Amount <span class="mandatory"> </span></label>
                                                        <div class="col-sm-12 col-md-11">
                                                            <input type="text" class="form-control form-control-sm" data-bind="value:warrantamt" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                                        <label class="col-sm-12 col-md-11 col-form-label">Bank Name <span class="mandatory"> </span></label>
                                                        <div class="col-sm-12 col-md-11">
                                                            <input type="text" class="form-control form-control-sm" data-bind="value:bankname" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                                        <label class="col-sm-12 col-md-11 col-form-label">Account Number<span class="mandatory"> </span></label>
                                                        <div class="col-sm-12 col-md-11">
                                                            <input type="text" class="form-control form-control-sm" data-bind="value:bankaccno" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                                        <label class="col-sm-12 col-md-11 col-form-label">Taxed Amount<span class="mandatory"> </span></label>
                                                        <div class="col-sm-12 col-md-11">
                                                            <input type="text" class="form-control form-control-sm" data-bind="value:taxdamt" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                                        <label class="col-sm-12 col-md-11 col-form-label">Bonus Tax<span class="mandatory"> </span></label>
                                                        <div class="col-sm-12 col-md-11">
                                                            <input type="text" class="form-control form-control-sm" data-bind="value:bonustax" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                                        <label class="col-sm-12 col-md-11 col-form-label">Bonus Adjustment<span class="mandatory"> </span></label>
                                                        <div class="col-sm-12 col-md-11">
                                                            <input type="text" class="form-control form-control-sm" data-bind="value:bonusadj" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                                        <label class="col-sm-12 col-md-11 col-form-label">Previous Adjustment<span class="mandatory"> </span></label>
                                                        <div class="col-sm-12 col-md-11">
                                                            <input type="text" class="form-control form-control-sm" data-bind="value:prevadj" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                                        <label class="col-sm-12 col-md-11 col-form-label">Net Pay<span class="mandatory"> </span></label>
                                                        <div class="col-sm-12 col-md-11">
                                                            <input type="text" class="form-control form-control-sm" data-bind="value:NetPay" />
                                                        </div>
                                                    </div>
                                            </div>

                                        </div>
                                        <div data-bind="visible: Action() == 'A'">

                                            <div class="form-group row col-xl-12 col-md-12 col-sm-12 col-12">

                                                <label class="col-sm-6 col-md-6 col-form-label">Split List Upload <span class="mandatory"> *</span></label>
                                                <div class="col-md-12">
                                                    <button type="button" class="btn btn-primary btn-sm" data-bind='click: DownloadDummyExcel'>Download Dummy Excel</button>
                                                </div>
                                            </div>
                                            <div class="form-group row col-xl-12 col-md-12 col-sm-12 col-12">
                                                <div class="col-md-6">
                                                    <input type="file" id="fileupload" name="files" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                                </div>

                                                <div class="col-md-6">
                                                    <select class="form-control form-control-sm" id="SheetNameList" data-bind='options: SheetLists,optionsText: "SheetName",value:SelectedSheet, optionsCaption:"---Excel Sheet Name---"'>
                                                    </select>
                                                </div>
                                                @*<div class="col-md-3">
                                                    <button class="btn btn-primary btn-sm" type="button" data-bind="click: UploadExcel">Upload</button>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="form-group col-xl-12 col-md-12 col-sm-12 col-12 text-right">
                                            @*<button type="button" class="btn btn-danger btn-sm" data-bind="click: ClearAll">Clear</button>*@
                                            <button type="button" class="btn btn-primary" data-bind="click: UploadExcel, enable: Action() != undefined">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4 ">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Footer{

    <script src="~/scripts/DividendManagement/PoolAccountSplit.js"></script>
    <script src="~/vendor/sweetalert/sweet-alert.js"></script>


}
