@{
    ViewData["Title"] = "CDS - Certificate Reversal Posting";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}

@section Header{
<link href="~/vendor/sweetalert/sweet-alert.css" rel="stylesheet" />
<style>
    th {
        width: none !important;
    }
</style>
}

<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">

                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">CDS</li>
                                <li class="breadcrumb-item active" aria-current="page">Reversal Posting</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Reversal Posting</h6>
                </div>

                <div class="card-body">
                    <div class="pd-20 card-box mb-30">

                        <form>
                            <div class="row">
                               <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-sm-12 col-form-label" for="reportSelect2">Company <span class="mandatory">*</span></label>
                                    <div class="col-sm-12 col-md-10">
                                       <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"Select Company"'></select>
                                    </div>
                                </div>

                                <div class="form-group row col-xl-3 col-md-3 col-sm-12 col-12 " id="simple-date1">
                                    <label class="col-sm-12 col-md-12 col-form-label" for="SplitDateFrom">Date From </label>
                                    <div class="input-group date col-sm-12 col-md-10">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="text" class="form-control form-control-sm" placeholder="Select Date" id="dateFrom" data-bind="value: dateFrom">
                                    </div>
                                </div>


                                <div class="form-group row col-xl-3 col-md-4 col-sm-12 col-12 " id="simple-date1">
                                    <label class="col-sm-12 col-md-12 col-form-label" for="SplitDateTo">Date To </label>
                                    <div class="input-group date col-sm-12 col-md-10">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="text" class="form-control form-control-sm" placeholder="Select Date" id="dateTo" data-bind="value: dateTo">
                                    </div>
                                </div>


                                
				                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                     <label class="col-12 col-form-label" style="color:transparent">l</label>
                                    <div class="col-sm-12 col-md-10">
                                         <input class="btn btn-primary col" type="button" value="Search" data-bind="click: loadDataTable">
                                    </div>
                                </div>

                            @*    <div class="form-group row col-xl-4 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label">Company <span class="mandatory"> *</span></label>
                                    <div class="col-sm-12 col-md-10">
                                        <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"Select Company"'></select>
                                    </div>
                                </div>
                                <!--Date Selector-->
                                <div class="form-group row col-xl-2 col-md-6 col-sm-12 col-12" id="simple-date1">
                                    <label class="col-12 col-form-label" for="DateFrom">From Date</label>
                                    <div class="input-group date col-sm-12 col-md-10">
                                        <div class="input-group-prepend"></div>
                                        <input type="text" class="form-control form-control-sm" placeholder="Select Date" id="dateFrom" data-bind="value: dateFrom">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-2 col-md-6 col-sm-12 col-12" id="simple-date2">
                                    <label class="col-12 col-form-label" for="DateTo">To Date</label>
                                    <div class="input-group date col-sm-12 col-md-10">
                                        <div class="input-group-prepend"></div>
                                        <input type="text" class="form-control form-control-sm" placeholder="Select Date" id="dateTo" data-bind="value: dateTo">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-4 col-md-6 col-sm-12 col-12">
                                    <label class="col-12 col-form-label"></label>
                                    <div class="col-sm-12 col-md-10">
                                        <input class="btn btn-primary" type="button" value="Search" data-bind="click: loadDataTable">
                                    </div>
                                </div>*@
                            </div>


                            <hr class="my-4">
                            <div class="col-12 p-3 ">
                                <table id="tbl_Post_Data" class="table  table-bordered">
                                    <thead>
                                        <tr>
                                            <th> <input type="checkbox" data-bind="checked: SelectAll" id="chk" /></th>
                                            <th>RevTranNo</th>
                                            
                                            <th>DRNNO</th>
                                            
                                            <th>RegNo</th>
                                            <th>ShholderNo</th>
                                            <th>Name</th>
                                            @*<th>AccountNo</th>*@
                                            <th>EntryUser</th>
                                            <th>EntryDate</th>
                                            <th>TotalKitta</th>
                                            <th>TranDate</th>
                                            <th>Remarks</th>
                                            <th>Details</th>
                                            @*
                                            <th>PCSDemateHN</th>
                                            <th>SrNoFrom</th>
                                            <th>SrNoTo</th>
                                            <th>CertNo</th>*@
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:CertificateReversalList">
                                        <tr>
                                            <td><input type="checkbox" data-bind="checked: Selected" class="case" name="case[]" /></td>
                                            <td data-bind="text: rev_tran_no"></td>
                                            <td data-bind="text: drn_no"></td>
                                            <td data-bind="text: regno"></td>

                                            <td data-bind="text: shholderno"></td>
                                            <td data-bind="text: name"></td>
                                            @*<td data-bind="text: bo_acct_no"></td>*@
                                            <td data-bind="text: rev_by"></td>
                                            <td data-bind="text: rev_date"></td>
                                            <td data-bind="text: shkitta "></td>
                                            <td data-bind="text: tr_date"></td>
                                            <td data-bind="text: rev_remarks"></td>
                                            <td ><button data-bind="click: ViewSingleRematerializeDetail" class="btn btn-info">Details</button></td>
                                            @*<td data-bind="text: pcs_demate_holderno"></td>
                                            <td data-bind="text: srnofrom"></td>
                                            <td data-bind="text: srnoto"></td>
                                            <td data-bind="text: certno"></td>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <hr class="my-4 ">
                            <div class="row col-12 ">
                                <div class="col-xl-3  col-md-6 col-sm-6 col-6 ">
                                    <input type="text" class="form-control form-control-sm mr-2 mt-1 " placeholder="Posting Remarks" data-bind="value:PostingRemarks" maxlength="100" />
                                </div>
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12 " id="simple-date1">

                                    <div class="input-group date col-sm-12 col-md-10 mt-1">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="text" class="form-control form-control-sm" disabled="disabled" data-bind="value: PostingDate , text:PostingDate" id="postingDate">
                                    </div>
                                </div>
                                <div class="col-xl-2 col-md-2 col-sm-4 col-4 ">
                                    <input type="button" class="btn btn-success  col-12" data-bind="click:PostReversal.bind($data,'A')" value="Authorization">
                                </div>
                                <div class="col-xl-2 col-md-2 col-sm-4 col-4 ">
                                    <input type="button" class="btn btn-warning  col-12" data-bind="click:PostReversal.bind($data,'R')" value="Rejection">
                                </div>
                                <div class="col-xl-2 col-md-2 col-sm-4 col-4 ">
                                    <input type="button" class="btn btn-danger col-12" id="btnDelete" data-bind="click:PostReversal.bind($data,'D')" value="Delete">
                                </div>
                            </div>

                                  <!-- Modal Scrollable -->
                            <div class="modal fade" id="certificateDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalScrollableTitle">Certificate Details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-12">
                                                <div class="card mb-4">
                                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                                                    </div>
                                                    <div class="table-responsive p-3">
                                                        <div class="table-responsive p-3">
                                                            <table id="CertDetTable" class="table  table-bordered" style="">
                                                                <thead>
                                                                    <tr>
                                                                        <th>S.N.</th>
                                                                        <th>ShHolderNo</th>
                                                                        <th>CertNo</th>
                                                                        <th>Kitta</th>
                                                                        <th>SrNoFrom</th>
                                                                        <th>SrNoTo</th>
                                                                        <th>BankAccNo</th>
                                                                        <th>DemateHolderNo</th>
                                                                        <th>Name</th>
                                                                    
                                                                    </tr>
                                                                </thead>
                                                                <tbody data-bind="foreach : CertificateSingleReversalList">
                                                                    <tr>
                                                                        <td data-bind="text: ($index() + 1)"></td>
                                                                        <td data-bind="text: shholderno"></td>
                                                                        <td data-bind="text: certno"></td>
                                                                        <td data-bind="text: shkitta"></td>
                                                                        <td data-bind="text: srnofrom"></td>
                                                                        <td data-bind="text: srnoto"></td>
                                                                        <td data-bind="text: bo_acct_no"></td>
                                                                        <td data-bind="text: pcs_demate_holderno"></td>
                                                                        <td data-bind="text: name"></td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                           </div>
                                    </div>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
@section Footer{
<script src="https://unpkg.com/floatthead"></script>
<script language="JavaScript" type="text/javascript">

    function toggle(source) {
        checkboxes = document.getElementsByName('case[]'); for (var i = 0, n = checkboxes.length;
            i < n; i++) { checkboxes[i].checked = source.checked; }
    }

   

</script>
<script src="~/vendor/sweetalert/sweet-alert.js"></script>

    <script src="~/scripts/CDSModule/ReversalPosting.js"></script>
}