@{
    ViewData["Title"] = "Certificate List";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Certificate</li>
                                <li class="breadcrumb-item active" aria-current="page">Certificate List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div>
                    <div class="card mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Certificate List</h6>
                        </div>
                        <hr class="my-1">
                        <div class="card-body">
                            <div class="pd-20 card-box mb-30">
                                <div class="row">
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                        <label class="col-form-label">Company <span class="mandatory"> *</span></label>
                                        <div class="">
                                            <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                        <label class="col-form-label">Order By </label>
                                        <div class="">
                                            <select class="form-control form-control-sm" id="OrderBy" data-bind='options: OrderByList ,optionsText:"OrderByName",optionsValue:"OrderBy",value:SelectedOrderBy, optionsCaption:"--Order By--"'>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <label class="col-form-label">Certificate List Option<span class="mandatory"> *</span></label>
                                    <div class="input-group col-12 px-0 py-1">
                                        <div class="custom-control custom-radio col-3">
                                            <input type="radio" value="DC" name="ListCertificate" id="DuplicateCertificate" class="custom-control-input" data-bind="checked:ListCertificateRadio, event:{ change: ToggleCerificateMode }" />
                                            <label class="custom-control-label" for="DuplicateCertificate">Duplicate Certificates</label>
                                        </div>
                                        <div class="custom-control custom-radio col-3">
                                            <input type="radio" value="AC" name="ListCertificate" id="AllCertificate" class="custom-control-input" data-bind="checked:ListCertificateRadio, event:{ change: ToggleCerificateMode }" />
                                            <label class="custom-control-label" for="AllCertificate">All Certificates</label>
                                        </div>
                                        <div class="custom-control custom-radio col-6">
                                            <input type="radio" value="DUCL" name="ListCertificate" id="DistUndistCertificate" class="custom-control-input" data-bind="checked:ListCertificateRadio, event:{ change: ToggleCerificateMode }" />
                                            <label class="custom-control-label" for="DistUndistCertificate">Distributed/Undistributed Certificate List</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="" id="hideDC" style="display: none;">
                                <div class="row">
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                        <label class="col-form-label">Excel Report</label>
                                        <div class="">
                                            <input type="button" id="DisplayDuplicateCerticateLists" class="btn btn-success col-12" value="Download" data-bind="click:DisplayDuplicateCerticateLists">
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                        <label class="col-form-label">List Type <span class="mandatory"> *</span></label>
                                        <div class="">
                                            <select class="form-control form-control-sm" id="ListType" data-bind='options: ListTypeList,optionsText: "ListTypeName", optionsValue:"ListType",value:SelectedListType, optionsCaption:"---List Type---"'>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="" id="hideAC" style="display: none;">
                                <div class="row">
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                        <label class="col-form-label">ShareOwner Type <span class="mandatory"> *</span></label>
                                        <div class="">
                                            <select class="form-control form-control-sm" id="ShareOwnerType" data-bind='options: ShownerTypesList,optionsText: "shOwnerTypeName", optionsValue:"shOwnerType",value:SelectedShownerType, optionsCaption:"---ShOwner Type---"'>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                        <label class="col-form-label" for="HNoFrom">Holder No From <span class="mandatory"> </span></label>
                                        <div class="">
                                            <input class="form-control form-control-sm" type="text" placeholder="Enter Holder No From" id="HNoFrom" data-bind="value: HNoFrom" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                        <label class="col-form-label" for="HNoTo">Holder No To <span class="mandatory"> </span></label>
                                        <div class="">
                                            <input class="form-control form-control-sm" type="text" placeholder="Enter Holder NoTo" id="HNoTo" data-bind="value: HNoTo" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                        <label class="col-form-label" for="CNoFrom">Certificate From <span class="mandatory"> </span></label>
                                        <div class="">
                                            <input class="form-control form-control-sm" type="text" placeholder="Enter CNoFrom" id="CNoFrom" data-bind="value: CNoFrom" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                        <label class="col-form-label" for="CNoTo">Certificate To <span class="mandatory"> </span></label>
                                        <div class="">
                                            <input class="form-control form-control-sm" type="text" placeholder="Enter CNoTo" id="CNoTo" data-bind="value: CNoTo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                        <label class="col-form-label" for="ShareKittaFrom">Share Kitta From <span class="mandatory"> </span></label>
                                        <div class="">
                                            <input class="form-control form-control-sm" type="text" placeholder="Enter Share Kitta From" id="ShareKittaFrom" data-bind="value: ShareKittaFrom" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl- col-md-3 col-sm-12 col-12">
                                        <label class="col-form-label" for="ShareKittaTo">Share Kitta To <span class="mandatory"> </span></label>
                                        <div class="">
                                            <input class="form-control form-control-sm" type="text" placeholder="Enter Share Kitta To" id="ShareKittaTo" data-bind="value: ShareKittaTo" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                        <label class="col-form-label" for="SerialNoFrom">Serial No From <span class="mandatory"> </span></label>
                                        <div class="">
                                            <input class="form-control form-control-sm" type="text" placeholder="Enter Serial No From" id="SerialNoFrom" data-bind="value: SerialNoFrom" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                        <label class="col-form-label" for="SerialNoTo">Serial No To <span class="mandatory"> </span></label>
                                        <div class="">
                                            <input class="form-control form-control-sm" type="text" placeholder="Enter Serial No To" id="SerialNoTo" data-bind="value: SerialNoTo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                        <label class="col-form-label">Excel Report</label>
                                        <div class="">
                                            <input type="button" id="ALLCerticateLists" class="btn btn-success col-12 " value="Download" data-bind="click:GetALLCerticateLists">
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                        <label class="col-form-label">Pdf Report</label>
                                        <div class="">
                                            <input type="button" id="ALLCerticateListsPdf" class="btn btn-info col-12 " value="View" data-bind="click:GetALLCerticateListsPdf">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="" id="hideDUCL" style="display: none;">
                                <div class="row">
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12" id="simple-date1">
                                        <label class="col-form-label" for="RegNo">From Date <span class="mandatory">*</span></label>
                                        <div class="input-group date">
                                            <div class="input-group-prepend">
                                            </div>
                                            <input class="form-control form-control-sm" type="text" placeholder="Enter From Date" id="RegNo" data-bind="value: FromDate" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12" id="simple-date2">
                                        <label class="col-form-label" for="DRNNo">To Date <span class="mandatory">*</span></label>
                                        <div class=" input-group date">
                                            <div class="input-group-prepend ">
                                            </div>
                                            <input class="form-control form-control-sm" type="text" placeholder="Enter To Date" id="DRNNo" data-bind="value: ToDate" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                        <label class="col-form-label" for="RegNo">Holder No From <span class="mandatory"></span></label>
                                        <div class="">
                                            <input class="form-control form-control-sm" type="text" placeholder="Enter HNoFrom" id="RegNo" data-bind="value: HNoFrom" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                        <label class="col-form-label" for="DRNNo">Holder No To <span class="mandatory"></span></label>
                                        <div class="">
                                            <input class="form-control form-control-sm" onkeypress="return isNumberKey(event)" type="text" placeholder="Enter HNoTo" id="DRNNo" data-bind="value: HNoTo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                        <label class="col-form-label" for="RegNo">C.No From <span class="mandatory"></span></label>
                                        <div class="">
                                            <input class="form-control form-control-sm" type="text" placeholder="Enter CNoFrom" id="RegNo" data-bind="value: CNoFrom" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                        <label class="col-form-label" for="DRNNo">C.No To <span class="mandatory"></span></label>
                                        <div class="">
                                            <input class="form-control form-control-sm" onkeypress="return isNumberKey(event)" type="text" placeholder="Enter CNoTo" id="DRNNo" data-bind="value: CNoTo" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                        <label class="col-form-label" for="RegNo">Share Type <span class="mandatory"></span></label>
                                        <div class="">
                                            <select class="form-control form-control-sm" id="ShareType" data-bind='options: ShareTypes,optionsText: "description", optionsValue:"certId",value:SelectedShareType, optionsCaption:"---Share Type---"'>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                        <label class="col-form-label">status <span class="mandatory"></span></label>
                                        <div class="">
                                            <select class="form-control form-control-sm" id="DataType" data-bind='options: DataTypeList ,optionsText:"DataTypeName",optionsValue:"DataType",value:SelectedDataType, optionsCaption:"---Status---"'>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-1"/>
                                <div class="row">
                                    <div class="col-xl-3 col-md-6 col-sm-6 col-12 ">
                                        <label class="col-form-label">Excel Report - Distributed<span class="mandatory"></span></label>
                                        <div class="">
                                            <input type="button" id="DistributedCertificatesList" class="btn btn-success col-12" value="Download" data-bind="click:DistributedCertificatesList.bind($data,'D')">
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6 col-sm-6 col-12 ">
                                        <label class="col-form-label">Pdf Report - Distributed<span class="mandatory"></span></label>
                                        <div class="">
                                            <input type="button" id="DistributedCertificatesList" class="btn btn-info  col-12" value="View" data-bind="click:DistributedCertificatesListPdf.bind($data,'D')">
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6 col-sm-6 col-12 ">
                                        <label class="col-form-label">Excel Report - Undistributed<span class="mandatory"></span></label>
                                        <div class="">
                                            <input type="button" id="UnDistributedCertificatesList" class="btn btn-success col-12" value="Download" data-bind="click:DistributedCertificatesList.bind($data,'U')">
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6 col-sm-6 col-12 ">
                                        <label class="col-form-label">Pdf Report - Undistributed<span class="mandatory"></span></label>
                                        <div class="">
                                            <input type="button" id="UnDistributedCertificatesList" class="btn btn-info col-12" value="View" data-bind="click:DistributedCertificatesListPdf.bind($data,'U')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Footer{
    <script src="~/vendor/sweetalert/sweet-alert.js"></script>
    <script src="~/scripts/Certificate/CertificateList.js"></script>
}