@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "DividentOffine - BatchProcessingforOffline";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Batch Processing</h6>
                </div>
                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box mb-30">
                        <div class="row">
                            <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                <label class="col-sm-12 col-md-11 col-form-label">Company <span class="mandatory"> *</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="CompanyList" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">

                                <label class="col-sm-12 col-md-11 col-form-label">Dividend <span class="mandatory"> *</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="DividendList" data-bind='options: DividendLists,optionsText: "ShowDividendText",optionsValue:"Divcode",value:SelectedDividend, optionsCaption:"---Dividends---" '>
                                    </select>
                                </div>

                            </div>


                            <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">

                                <label class="col-sm-12 col-md-11 col-form-label">Current Batch </label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="BatchList" data-bind='options: BatchList,optionsText: "BatchText",optionsValue:"BatchId",value:CurrentBatch, optionsCaption:"--- Batch ---"'>
                                    </select>
                                </div>

                            </div>
                          
                        </div>
                        <br />

                        @*For Creating Batch*@
                        <div class="row justify-content-center" id="divBC">
                            <div class="card mb-4 mt-4  ">
                                <div class="card-body">
                                    <div class="pd-20 card-box mb-30">
                                        <button class="btn btn-primary col-12" data-bind='click : CreateBatch'>Create Batch</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                      
                        @*FOR Validating CDS Data with the selected dividend*@
                        <div class="row justify-content-center" id="divCC">
                            <div class="card mb-4 mt-4">
                                <div class="card-body">
                                    <div class="pd-20 card-box mb-30 " style="display: flex; align-items:center;">
                                        <div class="row ">
                                            <div class="col-12 text-center">
                                                <button class="btn btn-primary col-6 " data-bind='click : ValidateCDSData'>Validate CDS Data</button>
                                                <p class="text-danger">Please be Sure To Upload Updated Bank Account Information Before Proceeding.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*for esewa account validation*@
                        <div class="row justify-content-center" id="divAV">
                            <div class="card mb-4 mt-4" id="AVDivH">
                                <div class="card-body">
                                    <div class="pd-20 card-box mb-30">
                                        <p id="AVDiv2"></p>

                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        @*completion*@
                        
                        <button type="button" id="downloadCertDet" class="btn btn-info" data-bind="click: downloadExcel">Excel</button>
                        <div class="row pt-4">
                            <div class="table-responsive" id="StatusTableDiv">
                                <table id="TransactionProcessingStatusTable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>FullName</th>
                                            <th>WarrantNo</th>
                                            <th>BankNo</th>
                                            <th>BankName</th>
                                            <th>WarrantAmt</th>
                                            @*<th>SubToken</th>*@
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="loginModalAccountValidation" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="m-0 font-weight-bold text-primary">eSewa Credentials</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="col-12">
                                    <div class="card col-12">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Login</h6>
                                        </div>
                                        <hr class="my-1">
                                        <div class="card-body">
                                            <div class="form-group row col-12">
                                                @*<label class="col-4 col-form-label">Username <span class="mandatory">*</span></label>*@
                                                <div class="col-sm-12 col-md-12">
                                                    <input class="form-control form-control-sm required-input-elem" type="text"
                                                           placeholder="Username" data-bind="value: BankUserNameAV">
                                                </div>
                                            </div>
                                            <div class="form-group row col-12">
                                                @*<label class="col-4 col-form-label">Password <span class="mandatory">*</span></label>*@
                                                <div class="col-sm-12 col-md-12">
                                                    <input class="form-control form-control-sm required-input-elem" type="Password"
                                                           placeholder="Password" data-bind="value: BankPasswordAV">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                           
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>


@section Footer {
    <script src="/vendor/sweetalert/sweet-alert.js"></script>
    <script src="/scripts/DividendOffline/BatchProcessingDividentOffline.js" asp-append-version="true"></script>
}

