
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}

@section Header{
    <link href="~/vendor/sweetalert/sweet-alert.css" rel="stylesheet" />
    <style>
        th {
            width: none !important;
        }
    </style>
}
<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            @*<div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">

                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Certificate</li>
                                <li class="breadcrumb-item active" aria-current="page"> PSL Entry Posting</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>*@
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">PSL Entry Posting</h6>
                </div>
                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box mb-30">
                        <div class="clearfix">

                        </div>


                        <div class="row">

                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <label class="col-sm-12 col-form-label" for="reportSelect2">Company <span class="mandatory">*</span></label>
                                    <div class="col-sm-12 col-md-12">
                                        <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                    </select>
                                    </div>
                                </div>

                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                     <label class="col-12 col-form-label" style="color:transparent">l</label>
                                    <div class="col-sm-12 col-md-10">
                                         <input class="btn btn-primary col" type="button" value="Refresh" data-bind="click: RefreshData" />
                                    </div>
                                </div>

                          @*  <div class="form-group row col-md-6 col-sm-12">
                                <label class="col-sm-12 col-md-11 col-form-label">Company <span class="mandatory"></span></label>
                                <div class="col-sm-12 col-md-11">
                                    <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row col-sm-12 col-md-6 justify-content-end">
                                <div class="mt-lg-5 mt-xl-5 mt-md-5 mt-sm-0 mt-0 ">
                                    <input class="btn btn-primary " type="button" value="Refresh" data-bind="click: RefreshData" />
                                </div>
                            </div>*@

                        </div>

                        <div class="row">
                            <div class="col-12">
                                <table id="tbl_PSLEntryPosting" class="table  table-bordered">
                                    <thead>
                                        <tr>
                                            <th> <input type="checkbox" data-bind="checked: SelectAll" id="chk" /></th>
                                            <th>PSLNo</th>
                                            <th>Holder No</th>
                                            
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Entry User</th>
                                            <th>Entry Date</th>
                                            <th>Total kitta</th>
                                            <th>Trans Date</th>
                                           
                                              <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:PSLEntryPostingList">
                                        <tr>
                                            <td><input type="checkbox" data-bind="checked: Selected" class="case" name="case[]" /></td>
                                            <td data-bind="text: PSLNo"></td>
                                            <td data-bind="text: ShholderNo"></td>
                                           
                                            <td data-bind="text: FName() +' '+LName()"></td>
                                            <td data-bind="text: Status"></td>
                                            <td data-bind="text: EntryUser"></td>
                                            <td data-bind="text: EntryDate"></td>
                                            <td data-bind="text: Totalkitta"></td>
                                            <td data-bind="text: TransDate"></td>
                                            
                                            <td><input type="button" data-toggle="modal"  data-bind="click:ViewDetail" data-target="#viewdetail" id="#viewdetail" value="ViewDetail"  class="btn btn-primary btn-md" name="case[]" /> </td>
                                           
                                       </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <hr class="my-4 ">
                        <div class="row col-12 ">
                            <div class="col-xl-4  col-md-4 col-sm-4 col-6 ">
                                <input type="text" class="form-control form-control-sm mr-2 mt-1 " data-bind="value:PostingRemarks" placeholder="Posting Remarks" />
                            </div>
                            <div class="col-xl-4  col-md-4 col-sm-4 col-6 ">
                                <input type="date" class="form-control form-control-sm mr-2 mt-1 " data-bind="value:PostingDate" />
                            </div>

                        </div>

                        <div class=" row p-2">
                            <div class="form-group row col-xl-12 col-md-12 col-sm-12 col-12">
                                <div class=" col-2 ">
                                    <input type="button" class="btn btn-success  col-12" data-bind="click:PostPSLEntryPosting.bind($data,'A')" value="Authorization">
                                </div>
                                <div class="col-2 ">
                                    <input type="button" class="btn btn-danger  col-12" data-bind="click:PostPSLEntryPosting.bind($data,'R')" value="Rejection">
                                </div>
                                <div class=" col-2 ">
                                    <input type="button" class="btn btn-dark  col-12" data-bind="click:PostPSLEntryPosting.bind($data,'D')" value="Delete">
                                </div>
                                


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade show" id="viewdetail" tabindex="-1" role="dialog"  aria-modal="true" style="padding-right: 17px; display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 60%;">
        <div class="modal-content">
            <div class="modal-header">
                 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 p-3">
                    <div id="DT_load_COMPANY_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-fixed-header resizable" id="tblSearch" width="450px">
                                    <thead class="header">
                                        <tr>
                                            <th>CertNo</th>                                           
                                            <th>SrNoFrom</th>
                                            <th>SrNoto</th>
                                            <th>Seqno</th>
                                            <th>PledgeKitta</th>
                                            <th>Remark</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: PaymentDetails">
                                        <tr class="Preview">                                           
                                            <td data-bind="text: CertNo"></td>
                                            <td data-bind="text: SrNoFrom"></td>
                                            <td data-bind="text: SrNoTo"></td>
                                            <td data-bind="text:($index() + 1)"></td>
                                             <td data-bind="text: PledgeKitta"></td>
                                            <td data-bind="text: Remark"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                  
                            </div>
                        </div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"></div></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


@section Footer{
    <script type="text/javascript">
        function toggle(source) {
            checkboxes = document.getElementsByName('case[]');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }

    </script>
    <script src="~/scripts/Certificate/PSLEntryPosting.js"></script>
    
}
