@{
    ViewData["Title"] = "Demat/Remat Report";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}


@section Header{
<link href="~/vendor/sweetalert/sweet-alert.css" rel="stylesheet" />
<style>
    th {
        width: none !important;
    }
</style>
}



<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
             <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">

                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Reports</li>
                                <li class="breadcrumb-item active" aria-current="page">Demat/Remat Report</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Demate/Remate Report</h6>
                </div>
                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box mb-30">
                        <div class="clearfix">
                            @*<div class="pull-left">
                                <h4 class="text-blue h4">Create User</h4>
                                </div>*@
                        </div>
                         <div class="row">
                            <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                <label class=" col-form-label">Company <span class="mandatory">*</span></label>
                                <div class="">
                                    <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"Select Company"'>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                <label class=" col-form-label">Report Type <span class="mandatory">*</span></label>
                                <div class="">
                                    <select class="form-control form-control-sm" id="ReportType" data-bind='options: ReportTypeList ,optionsText:"ReportName",optionsValue:"ReportType",value:SelectedReportType, optionsCaption:"---Report Type---"'>
                                    </select>
                                </div>
                            </div>
                                <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                    <label class=" col-form-label">Report Option <span class="mandatory">*</span></label>
                                    <div class="">
                                        <select class="form-control form-control-sm" id="SecondaryReportType" data-bind='options: SecondaryReportTypeList ,optionsText:"SecondaryReportTypeName",optionsValue:"SecondaryReportTypeValue",value:SelectedSecondaryReportType, optionsCaption:"---Report Option---"'>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                    <label class=" col-form-label">Demate Type </label>
                                    <div class="">
                                        <select class="form-control form-control-sm" id="DemateType" data-bind='options: DemateTypeList ,optionsText:"DemateTypeName",optionsValue:"DemateTypeValue",value:SelectedDemateType, optionsCaption:"---Demate Type---"'>
                                        </select>
                                    </div>
                                </div>
                        </div>
                     

                        <div class="row">
                            <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                <label class=" col-form-label">PSL Status <span class="mandatory">*</span></label>
                                <div class="">
                                    <select class="form-control form-control-sm" id="DataType" data-bind='options: DataTypeList ,optionsText:"DataTypeName",optionsValue:"DataType",value:SelectedDataType, optionsCaption:"---Status---"'>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                <label class=" col-form-label">Order By</label>
                                <div class="">
                                    <select class="form-control form-control-sm" id="OrderBy" data-bind='options: OrderByList ,optionsText:"OrderByName",optionsValue:"OrderByValue",value:SelectedOrderBy, optionsCaption:"---Order By---"'>
                                    </select>
                                </div>
                            </div>
                            
                          </div>
                             <hr class="my-1"/>
                          <div class ="row">
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-form-label" for="ISINNO">ISIN No </label>
                                <div class="">
                                    <select class="form-control form-control-sm" id="ISINNO" disabled="disabled" data-bind='options: ParaCompChildList,optionsText: "PCISIN_NO",optionsValue:"PCISIN_NO",value:SelectedISINNO, optionsCaption:"---ISIN NO---"'>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-form-label" for="DPList">DP Name </label>
                                <div class="">
                                    <select class="form-control form-control-sm" disabled="disabled" id="DPList" data-bind='options: DPList,optionsText: "DisplayDP",optionsValue:"DP_CODE",value:SelectedDP, optionsCaption:"---DP List---"'>
                                    </select>
                                </div>
                            </div>
                             <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-form-label" for="CertDetails">Cert Details </label>
                                <div class="">
                                    <select class="form-control form-control-sm" disabled="disabled" id="CertDetails" data-bind='options: CertificateDetailList,optionsText: "CDDescription",optionsValue:"CDCert_Id",value:SelectedCertDetails, optionsCaption:"---Cert Detail---"'>
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12" id="simple-date1">
                                <label class="col-form-label" for="DemateReqFrom" id="DemateReqFromLabel">Demate Reg From </label>
                                <label class="col-form-label" for="DemateReqFrom" id="RevFromLabel">Rev Tran No From </label>
                                <div class="">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text"  data-bind="value: DemateReqFrom" class="form-control form-control-sm" placeholder="Enter From" id="DemateReqFrom">
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12" id="simple-date2">
                                <label class="col-form-label" for="DemateReqTo" id="DemateReqToLabel" >Demate Reg To </label>
                                <label class="col-form-label" for="DemateReqTo" id="RevToLabel" >Rev Tran No To </label>
                                <div class="">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text"  data-bind="value: DemateReqTo" class="form-control form-control-sm" placeholder="Enter To" id="DemateReqTo">
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12" id="simple-date3">
                                <label class="col-form-label" for="EntryDateFrom" id="EntryDateFromLabel" >Entry Date From </label>
                                <label class="col-form-label" for="EntryDateFrom" id="PostingFromLabel" >Rev Date From </label>
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text"  data-bind="value: EntryDateFrom" class="form-control form-control-sm" placeholder="Entry Date From" id="EntryDateFrom">
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12" id="simple-date4">
                                <label class="col-form-label" for="EntryDateTo" id="EntryDateToLabel" >Entry Date To </label>
                                <label class="col-form-label" for="EntryDateTo" id="PostingToLabel" >Rev Date To </label>
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text"  data-bind="value: EntryDateTo" class="form-control form-control-sm" placeholder="Entry Date To" id="EntryDateTo">
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class=" col-form-label" for="RegNoFromLabel" id="RegNoFromLabel">RegNo From</label>
                                <label class=" col-form-label" id="RevNoFromLabel" for="RevNoFromLabel">RegNo From</label>
                                <div class="">
                                    <input type="text" class="form-control form-control-sm"  onkeypress="return isNumberKey(event)"  id="RegNoFrom" placeholder="RegNo From" data-bind="value:RegNoFrom" />
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class=" col-form-label" for="RegNoToLabel" id="RegNoToLabel">RegNo To</label>
                                <label class=" col-form-label" for="RevNoToLabel" id="RevNoToLabel">RegNo To</label>
                                <div class="">
                                    <input type="text" class="form-control form-control-sm"  onkeypress="return isNumberKey(event)"  id="RegNoTo" placeholder="RegNo To" data-bind="value:RegNoTo" />
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class=" col-form-label" for="HolderNoFrom">HolderNo From</label>
                                <div class="">
                                    <input type="text" class="form-control form-control-sm"  onkeypress="return isNumberKey(event)"  id="HolderNoFrom" placeholder="HolderNo From" data-bind="value:HolderNoFrom" />
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12">
                                <label class=" col-form-label" for="HolderNoTo">HolderNo To</label>
                                <div class="">
                                    <input type="text" class="form-control form-control-sm"  onkeypress="return isNumberKey(event)"  id="HolderNoTo" placeholder="HolderNo To" data-bind="value:HolderNoTo" />
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class=" col-form-label" for="CertNoFrom">CertNo From</label>
                                <div class="">
                                    <input type="text" class="form-control form-control-sm"  onkeypress="return isNumberKey(event)"  id="CertNoFrom" placeholder="CertNo From" data-bind="value:CertNoFrom" />
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class=" col-form-label" for="CertNoTo">CertNo To</label>
                                <div class="">
                                    <input type="text" class="form-control form-control-sm"  onkeypress="return isNumberKey(event)"  id="CertNoTo" placeholder="CertNo To" data-bind="value:CertNoTo" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-md-6 col-sm-12">
                                <label class=" col-form-label">Excel Report</label>
                                <input type="button" class="btn btn-success col-12 " id="Excel" value="Download" data-bind="click: GenerateReport.bind($data,'E')">
                            </div>
                            <div class="col-xl-3 col-md-6 col-sm-12">
                                <label class=" col-form-label">Pdf Report</label>
                                <input type="button" class="btn btn-info col-12 "  id="Report" value="View" data-bind="click: GenerateReport.bind($data,'R')">
                            </div>
                            <div class="col-xl-3 col-md-6 col-sm-12">
                                <label class=" col-form-label">Refresh Paqge</label>
                                <input type="button" class="btn btn-secondary col-12" id="refresh" value="Refresh" data-bind="click: Refresh">
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Footer{

<script src="~/vendor/sweetalert/sweet-alert.js"></script>
<script src="~/scripts/Reports/DematRematReport.js?v=0.1"></script>
}
