@{
    ViewData["Title"] = "User Details";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}
@section Header{
    <link href="~/vendor/sweetalert/sweet-alert.css" rel="stylesheet" />
    <style>
        th {
            width: none !important;
        }
    </style>
}
<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">User Management</li>
                                <li class="breadcrumb-item active" aria-current="page">User Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">User Details</h6>
                </div>
                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box mb-30">
                        <div class="clearfix">
                        </div>
                        <form>
                            <div class="row"
                     <div class="row col-12 p-4 justify-content-center">
                        <div class="col-xl-4 col-md-4 col-sm-4 col-6">
                           <input type="button" class="btn btn-success mr-2 mt-1 col-12" value="Audit Log Report" data-bind="click: ShowModalReport">
                        </div>
                     </div>
               </div>
                            <div class="col-12 p-3">
                                <table id="DT_load" class="table  table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>Name</th>
                                            <th>Bank ID</th>
                                            <th>Role/Profile</th>
                                            <th>Last Login Date</th>
                                            <th>Account type</th>
                                            <th>ID Status</th>
                                            <th>Menu</th>
                                            <th>Disable</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <hr class="my-4">
                            @*<div class="row col-12 p-4 justify-content-center">
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                            <input type="button" class="btn btn-success mr-2 mt-1 col-12" value="Add" data-bind="click: Save">
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                            <input type="button" class="btn btn-info mr-2 mt-1 col-12" value="Update">
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                            <input type="button" class="btn btn-danger mr-2 mt-1 col-12" value="Delete">
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                            <input type="button" class="btn btn-success mr-2 mt-1 col-12" value="Save">
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                            <input type="button" class="btn btn-secondary mr-2 mt-1 col-12" value="Cancel">
                            </div>
                            </div>*@
                        </form>
                    </div>
                </div>
            </div>
            @* modal for report *@
            <div class="modal fade" id="ReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-m" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">User Audit Report</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body row ">
                            <div class="col-6 ">
                                <div class="form-group row col-12" id="simple-date3">
                                    <label class="col-12 col-form-label" for="fromDate">From Date</label>
                                    <div class="input-group date col-sm-12 col-md-10">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="text" data-bind="value: fromDate" class="form-control form-control-sm" placeholder="Select a Date" id="fromDate">
                                    </div>
                                </div>
                                <div class="form-group row col-12" id="simple-date4">
                                    <label class="col-12 col-form-label" for="toDate">To Date</label>
                                    <div class="input-group date col-sm-12 col-md-10">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="text" data-bind="value: toDate" class="form-control form-control-sm" placeholder="Select a Date" id="toDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 row ">
                                <div class="form-group row col-12" id="userSelectDiv">
                                    <label class="col-sm-12 col-md-12 col-form-label" for="userSelect2">User </label>
                                    <div class="col-12">
                                        <select class="select2-single-placeholder form-control userSelect2" name="state"
                                                id="userSelect2" data-bind='options:UserList, optionsText:"UserNameForReport",
                              optionsValue: "UserIdForReport", value: SelectedUser, optionsCaption:"---User---"'>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <input type="button" class="btn btn-success col-12 p-1" value="PDF" data-bind="click: PDFAuditReport">
                                </div>
                                <div class="col-12">
                                    <input type="button" class="btn btn-success col-12 p-1" value="Excel" data-bind="click: ExcelAuditReport">
                                </div>
                                @*
                                <div class="row col-12  justify-content-center">
                                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                                </div>
                                </div>
                                <div class="row col-12  justify-content-center">
                                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                                </div>
                                *@
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Default Basic Forms End -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Update User Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <!-- Form Basic -->
                            <div class="card mb-4">
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label for="UserId">User ID</label>
                                                <input type="text" readonly class="form-control form-control-sm" id="UserId" data-bind="value:UserId">
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="username">User Name</label>
                                                <input type="text" class="form-control form-control-sm" id="username" data-bind="value:UserName">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group password col-6">
                                                <label for="password">Password <span class="mandatory">*</span></label>
                                                <input type="password" class="form-control form-control-sm" id="password" placeholder="Password" data-bind="value:Password">
                                            </div>
                                            <div class="form-group password col-6">
                                                <label for="cpassword">Confrim Password <span class="mandatory">*</span></label>
                                                <input type="password" class="form-control form-control-sm" id="Cpassword" placeholder="Confrim Password" data-bind="value:CPassword">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group row col-6">
                                                <label class="col-sm-12 col-md-12 col-form-label" for="userRoleSelect2">User Role <span class="mandatory">*</span></label>
                                                <div class="col-12">
                                                    <select class="select2-single-placeholder form-control form-control-sm col-12" name="state"
                                                            id="userSelect2" data-bind='options:RoleList, optionsText:"RoleName",
                                          optionsValue: "RoleId", value: SelectedRole, optionsCaption:"---Role---"'>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group password pl-4 pr-1 " id="simple-date1">
                                                    <label for="dateValidUpto">Valid Upto<span class="mandatory"> *</span></label>
                                                    <div class="  input-group date col-sm-12 col-md-12 p-1">
                                                        <div class="input-group-prepend">
                                                        </div>
                                                        <input type="text" data-bind="value: ValidUpto" class="form-control form-control-sm" placeholder="Choose Date" id="valid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input form-control-sm" data-bind="checked:LockUnlock" id="customSwitch1">
                                                <label class="custom-control-label" for="customSwitch1">Unlock-Lock</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bind="click:UpdateDetails">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        @*modal for rights*@
        <div class="modal fade" id="RightsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">User Rights</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12 ">
                            <table id="rightsDataTable" class="table  table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Menu ID</th>
                                        <th>Menu Text</th>
                                        <th>Parent</th>
                                        <th style="display:none">UserName</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach : RightsList">
                                    <tr>
                                        <td data-bind="text: MenuID"></td>
                                        <td data-bind="text: MenuText"></td>
                                        <td data-bind="text: Parent"></td>
                                        <td style="display:none" data-bind="text: UserName"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* modal for edit user*@
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12 ">
                            <table id="editTable" class="table  table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>UserName</th>
                                        <th>UserRole</th>
                                        <th>Valid UpTo</th>
                                    </tr>
                                </thead>
                                @*
                                <tbody data-bind="foreach : RightsList">
                                <tr>
                                <td data-bind="text: MenuID"></td>
                                <td data-bind="text: MenuText"></td>
                                <td data-bind="text: Parent"></td>
                                <td style="display:none" data-bind="text: UserName"></td>
                                </tr>
                                </tbody>
                                *@
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Footer{
    <script src="~/vendor/sweetalert/sweet-alert.js"></script>
    <script src="~/scripts/Security/UserDetails.js?v=0.1"></script>
}