@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Transaction Processing";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Transaction Processing</h6>
                </div>
                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box mb-30">
                        <div class="row">
                            <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                <label class="col-sm-12 col-md-11 col-form-label">Company <span class="mandatory"> *</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="CompanyList" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                <label class="col-sm-12 col-md-11 col-form-label">Dividend <span class="mandatory"> *</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="DividendList" data-bind='options: DividendLists,optionsText: "ShowDividendText",optionsValue:"Divcode",value:SelectedDividend, optionsCaption:"---Dividends---"'>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                <label class="col-sm-12 col-md-11 col-form-label">Current Batch </label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="BatchList" data-bind='options: BatchList,optionsText: "BatchText",optionsValue:"BatchId",value:CurrentBatch, optionsCaption:"--- Batch ---"'>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xl-3 col-md-3 col-sm-12 col-12">
                                <label class="col-sm-12 col-md-11 col-form-label"></label>
                                <div class="col-sm-12 col-md-11 mt-2">
                                    <button class="btn btn-primary" id="CheckStatus" data-bind='click: CheckStatus'>
                                        Check Status
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br />

                        <!-- For transaction processing -->
@*                         <div class="row justify-content-center" id="divTP">
                            <div class="card mb-4 mt-4">
                                <div class="card-body">
                                    <div class="pd-20 card-box mb-30">
                                        <button class="btn btn-primary col-12" data-toggle="modal" data-target="#loginModalBeforeTransaction">
                                            Transaction Processing
                                        </button>
                                        <p id="msgTP"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
 *@
                        <!-- Completion -->
                        <div class="row" id="divCO">
                            <div class="card mb-4 mt-4">
                                <div class="card-body">
                                    <div class="pd-20 card-box mb-30">
                                        <p id="CompleteDiv"></p>
                                        <span class="row col-12 justify-content-center">
                                            <button class="btn btn-primary col-4" data-bind="click: RouteToStatus">View Status</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-4">
                            <div class="table-responsive" id="StatusTableDiv">
                                <table id="TransactionProcessingStatusTable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>FullName</th>
                                            <th>WarrantNo</th>
                                            <th>BankNo</th>
                                            <th>BankName</th>
                                            <th>WarrantAmt</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            @*     <!-- Login Modal Before Transaction -->
                <div class="modal fade" id="loginModalBeforeTransaction" tabindex="-1" role="dialog" aria-labelledby="loginModalBeforeTransactionLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary">Login Verification</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label>Username <span class="mandatory">*</span></label>
                                        <input type="text" class="form-control" placeholder="Enter Username" data-bind="value: LoginUserName">
                                    </div>
                                    <div class="form-group">
                                        <label>Password <span class="mandatory">*</span></label>
                                        <input type="password" class="form-control" placeholder="Enter Password" data-bind="value: LoginPassword">
                                    </div>
                                    <div class="form-group">
                                        <label>PIN <span class="mandatory">*</span></label>
                                        <input type="password" class="form-control" placeholder="Enter PIN" data-bind="value: LoginPin">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-primary col-8" data-bind="click: VerifyLogin">
                                    Login
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Existing Transaction Processing Modal -->
                <div class="modal fade" id="loginModalTransactionProcessing" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="m-0 font-weight-bold text-primary">Select Source Bank</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="col-12">
                                    <div class="form-group row">
                                        <label>Source Bank <span class="mandatory">*</span></label>
                                        <div class="col-sm-12">
                                            <select class="form-control form-control-sm" id="BankList" data-bind='options: SourceBankList, optionsText: "BankText", optionsValue: "BankID", value: SelectedBank, optionsCaption: "---Bank---"'></select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-primary col-8" data-bind="click: TransactionProcessing">
                                    Proceed
                                </button>
                            </div>
                        </div>
                    </div>
                </div> *@

            </div>

        </div>
    </div>
</div>

@section Footer {
    <script src="~/vendor/sweetalert/sweet-alert.js"></script>
    <script src="/scripts/FundTransfer/FundTransferProcessing.js" asp-append-version="true"></script>
}
