@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Fund Transfer - Transaction Status";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}
@section Header{
    <link href="~/vendor/sweetalert/sweet-alert.css" rel="stylesheet" />
    <style>
        th {
            width: none !important;
        }
    </style>
}


<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
                       <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Transaction Status</h6>
                </div>
                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box mb-30">

                        <div class="row">
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-sm-12 col-md-11 col-form-label">Company <span class="mandatory"> *</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="CompanyList" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany, optionsCaption:"---Company---"'>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-sm-12 col-md-11 col-form-label">Dividend <span class="mandatory"> *</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="DividendList" data-bind='options: DividendLists,optionsText: "ShowDividendText",optionsValue:"Divcode",value:SelectedDividend, optionsCaption:"---Dividends---"'>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                <label class="col-sm-12 col-md-11 col-form-label">Batch Request<span class="mandatory">*</span></label>
                                <div class="col-sm-12 col-md-12">
                                    <select class="form-control form-control-sm" id="BatchList" data-bind='options: BatchLists,optionsText: "BatchText",optionsValue:"BatchId",value:SelectedBatchId, optionsCaption:"--- Batch ---"'>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12 " style="margin-top:15px">
                                <div class="col-sm-8 col-md-9">
                                    <input type="button" class="btn btn-primary mr-2 mt-4 col-12" value="Load Status" data-bind="click: LoadTransactionsStatus">
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="TransactionProcessingStatusTable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>FullName</th>
                                        <th>WarrantNo</th>
                                        <th>BankNo</th>
                                        <th>BankName</th>
                                        <th>WarrantAmt</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <hr class="my-4 ">


                        <div class="row">
                            <div class="form-group row col-12 justify-content-center">
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <div class="col-sm-8 col-md-9">
                                        <input type="button" class="btn btn-primary mr-2 mt-4 col-12" disabled="disabled" id="CheckStatus" value="Update Status"
                                               data-toggle="modal" data-bind="click: CheckUpdatedStatus">
                                    </div>
                                </div>
                                <div class="form-group row col-xl-3 col-md-6 col-sm-12 col-12">
                                    <div class="col-sm-8 col-md-9">
                                        <input type="button" class="btn btn-info mr-2 mt-4 col-12" value="Clear" id="Clear" data-bind="click: ClearControl">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="m-0 font-weight-bold text-primary">eSewa Credentials</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="col-12">
                                <div class="card col-12">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Login</h6>
                                    </div>
                                    <hr class="my-1">
                                    <div class="card-body">
                                        <div class="form-group row col-12">
                                            <label class="col-4 col-form-label">Username <span class="mandatory">*</span></label>
                                            <div class="col-sm-8 col-md-8">
                                                <input class="form-control form-control-sm" type="text"
                                                       placeholder="Username" data-bind="value: BankUserName">
                                            </div>
                                        </div>
                                        <div class="form-group row col-12">
                                            <label class="col-4 col-form-label">Password <span class="mandatory">*</span></label>
                                            <div class="col-sm-8 col-md-8">
                                                <input class="form-control form-control-sm" type="Password"
                                                       placeholder="Password" data-bind="value: BankPassword">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                           
                            <button type="button" class="btn btn-primary mr-2 mt-4 col-12" data-bind="click: CheckUpdatedStatus">
                                Login
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Footer{
    <script src="~/vendor/sweetalert/sweet-alert.js"></script>
    <script src="~/scripts/FundTransfer/TransactionStatus.js" asp-append-version="true"></script>
}
