
@{
    ViewData["Title"] = "Company Charge Setup";
    Layout = "~/Areas/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            @*<div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">

                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Parameter Setup</li>
                                <li class="breadcrumb-item active" aria-current="page">Company Charge Setup</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>*@
            <!-- Default Basic Forms Start -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Company Charge Setup</h6>
                </div>
                <hr class="my-1">
                <div class="card-body">
                    <div class="pd-20 card-box mb-30">
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <input type="button" class="btn btn-primary mr-2 mt-1 col-12 " value="Add" id="AddButton" data-bind="click: ChooseOptions.bind($data,'A')">
                            </div>
                            <div class="col-3 ">
                                <input type="button" class="btn btn-info mr-2 mt-1 col-12 " value="Edit" id="EditButton" data-bind="click: ChooseOptions.bind($data,'U')">
                            </div>
                            @*<div class="col-3 ">
                                    <input type="button" class="btn btn-danger mr-2 mt-1 col-12 " value="Delete" data-bind="click: chooseOptions.bind($data,'D')">
                                </div>*@
                        </div>
                        <br />
                        <div class="row">
                            
				               
                            <div class="form-group row col-md-7 col-sm-12">
                                <label class="col-sm-12 col-md-3 col-form-label" for="companySelect2">Company</label>
                                <div class="col-sm-12 col-md-11">
                                    <select class="form-control form-control-sm" id="Company" data-bind='options: CompanyDetails,optionsText: "CompEnName",optionsValue:"CompCode",value:SelectedCompany,event:{blur:GetCompanyChargeDetails.bind(CompCode)}, optionsCaption:"---Company---"'>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">


                            <div class="form-group row col-xl-4 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="ChargeCode">Charge Code: <span class="mandatory"> *</span></label>
                                <div class="col-sm-12 col-md-10">
                                    <input class="form-control form-control-sm" id="ChargeCode" onkeypress="return isNumberKey(event)" data-bind="value: ChargeCode, valueUpdate:'input', exceuteOnEnter:GetCompanyCharge.bind($data,ChargeCode),event:{blur:GetCompanyCharge.bind($data,ChargeCode)}" type="text" placeholder="Enter Charge Code">
                                </div>
                            </div>
                            <div class="form-group row col-xl-4 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="ChargeType">Charge Type: <span class="mandatory"> *</span></label>
                                <div class="col-sm-12 col-md-10">
                                    <input class="form-control form-control-sm" id="ChargeType" data-bind="value: ChargeType" type="text" placeholder="Enter Charge Type">
                                </div>
                            </div>
                            <div class="form-group row col-xl-4 col-md-6 col-sm-12 col-12">
                                <label class="col-12 col-form-label" for="Charge">Charge: <span class="mandatory"> *</span></label>
                                <div class="col-sm-12 col-md-10">
                                    <input class="form-control form-control-sm" id="Charge" onkeypress="return isNumberKey(event)" data-bind="value: Charge" type="text" placeholder="Enter Charge">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 p-3">
                            <table id="tbl_Charge" class="table  table-bordered table-hover">
                                <thead>
                                    <tr>
                                        @*<th>S.N</th>*@
                                        <th>Comp Code</th>
                                        <th>Charge Code</th>
                                        <th>Description </th>
                                        <th>Charge</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: ChargeList">
                                    <tr data-bind="click: GetCompanyCharge($data.ChargeCode,ChargeCode) ">
                                        @*<td></td>*@
                                        <td data-bind="text: CompCode"></td>
                                        <td data-bind="text: ChargeCode"></td>
                                        <td data-bind="text: ChargeType"></td>
                                        <td data-bind="text: Charge"></td>
                                        @*<td data-bind="click: GetOccupationDetails.bind($data,OccupationID)">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </td>*@
                                    </tr>

                                </tbody>
                            </table>
                        </div>



                        <hr class="my-4 ">
                        <div class="row col-12 p-4 justify-content-center ">
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 ">
                                <input type="button" class="btn btn-success mr-2 mt-1 col-12 " id="SaveButton" value="Save" data-bind="click: SaveCompanyCharge">
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-4 col-6 ">
                                <input type="button" class="btn btn-warning  mr-2 mt-1 col-12 " value="Clear" data-bind="click : ClearControl">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Footer{
    <script src="~/scripts/ParameterSetup/CompanyChargeSetup.js"></script>
}

